[2013-11-27 19:48] grobie opened #1 "Delete emails"
Please add a function to delete emails. I have some folders with several tens of thousands of emails and gmail will always eventually respond with some error code if I try to delete them all at once.

A way to run a loop which 1. select all emails on a page 2. deletes them, until there are no more emails in this folder/label would finally help me to get rid of them.

The corresponding shortcut wou

[2013-11-28 17:25] KartikTalwar opened #2 "Create observer for opening/reading an email"
Would be nice to have triggers when an email is opened. Can be done by watching the http request that retrieves email content?

[2013-11-30 08:03] javajack opened #4 "Does it support multi-account gmail interface ?"
Does Gmail support for multi account detection ?

A Gmail user can login to multiple accounts at a time and switch UI accordingly. We want to display some plugin data based on current gmail account.

How do we identify which email account is open right now, Dos the gmail.js object instance has ability to identify this when it would become a part of some chrome extension ?

[2013-12-01 07:10] #4 closed, assigned to nobody

[2013-12-02 10:44] #2 closed, assigned to KartikTalwar

[2013-12-03 22:32] amul opened #8 "Trying to append your gmail script and getting a 403"
I'm log'd into gmail.. probably something super simple

[2013-12-04 04:53] courthead opened #9 "Include "version" property in API"
I suggest keeping track of the version number of gmail.js, and making that accessible via the API, so users can do:

[code]

jQuery enables something similar with `jQuery().jquery`.

[2013-12-04 05:14] #9 closed, assigned to nobody

[2013-12-05 12:02] sshaji opened #11 "get email data"
"Get email data" is missing to, cc and bcc..Instead you have "people involved" ..Is this a limitation?

[2013-12-05 14:32] sshaji opened #12 "gmail.get .email_id()"
If conversation view is enabled in gmail, this API is retuning the id of the first email in that thread (looks like the id from location hash)..It will be great if it can return the id of the email that is currently opened in the conversation..
(By default its the last email in the conversation)

[2013-12-06 02:50] #12 closed, assigned to KartikTalwar

[2013-12-11 14:39] skaern opened #15 "gmail.observe .on(action, callback)"

[2013-12-11 14:46] skaern opened #16 "gmail.observe .on(action, callback) not working?"
I have put together some code for using gmail.js as part of a chrome extension. It all seems to work just fine, however none of the gmail.observe functions seem to do anything. I have tried entering them into the console just as you have outlined in the readme.

Example:

[code]

When I then star an email, nothing happens. Am I using this wrong or is it a bug?

[2013-12-11 14:49] #15 closed, assigned to nobody

[2013-12-11 21:41] #16 closed, assigned to nobody

[2013-12-12 06:57] gilgen opened #18 "Subsequent email_data() calls in observers return empty objects"
If I use a `gmail.get.email_data()` inside an `open_email` observer it works the first time but in subsequent email opens, the email_data() returns an empty object. Some sort of race condition perhaps?

[2013-12-15 01:31] #11 closed, assigned to KartikTalwar

[2013-12-15 01:31] #8 closed, assigned to nobody

[2013-12-15 01:38] #18 closed, assigned to KartikTalwar

[2013-12-16 22:30] belaviyo opened #20 "Refresh Gmail from JS"
Hi there,

Is it possible to simulate refresh Gmail using this library?

[2013-12-17 00:12] #20 closed, assigned to nobody

[2013-12-18 09:19] skaern opened #21 "Example of using gmail.observe.http_requests() ?"
Would you be able to give an example of how to use this and access the different parameters of the requests? I'm presuming it can be used to access the details of the most recently sent email?

Thanks for creating this btw, it is really useful!

[2013-12-19 08:54] #21 closed, assigned to KartikTalwar

[2014-01-03 12:26] skaern opened #22 "gmail.observe.on() results in user being unable to upload email attachments"
Its taken me quite a while to trace why this was happening. Things can still be attached right up until the gmail.observe.on method. (I haven't tested it with any of the other observe methods).
![attachmenterror](https://f.cloud.github.com/assets/4265108/1839126/10b6c9e4-7472-11e3-8d87-59cdaf52d0bb.png)

[2014-01-03 12:30] skaern opened #23 "Too many )"
There is an additional ')' on line 645 of gmail.js in the latest commit.

[2014-01-03 18:41] #23 closed, assigned to nobody

[2014-01-06 21:09] GeneralZero opened #24 "Need to include JQuery lib to work"
I get errors with certain functions. You might need to update the README.

[2014-01-06 21:14] #24 closed, assigned to nobody

[2014-02-06 20:16] KartikTalwar opened #32 "Add support for classifying labels"
http://blog.persistent.info/2014/01/finding-messages-explicitly-marked-as.html

[2014-02-13 22:28] yeukhon opened #33 "Firefox does not use innerText"
We should use jQuery's `.text()` for max compatibility.

[2014-02-13 22:32] #33 closed, assigned to nobody

[2014-02-15 11:10] suneeshtr opened #35 "is that possible insert contents into compose window body in firefox?"

[2014-02-15 16:08] #35 closed, assigned to nobody

[2014-02-22 10:13] SiddharthMantri opened #36 "GLOBALS is not defined"
api.tracker.globals   = GLOBALS;

Uncaught ReferenceError: GLOBALS is not defined. What should I be doing to fix this?

[2014-02-26 22:49] ghost opened #38 "Internationalization"
For now, by looking at the code, only US English interface is supported as some elements are explicitly referred through their attributes values (like "Inbox").

However, when another locale is in use, some functionalities are supposed to fail.
For example, "Inbox" becomes "Boîte de réception" in French. This results, _among other things_, in a counting of inbox unread emails being 0 while there a

[2014-02-27 13:02] ghost opened #39 ""to" array empty for "older" messages"
When reading an email, previous emails are folded (i.e. their content is hidden).
You can have two levels of folding: _simple_ (for the first and penultimate ones, when more than 3 previous emails) and _grouped_ for all those in between.

However the `to` array isn't filled with recipients' email addresses for those in grouped folding.

[2014-03-05 03:07] #36 closed, assigned to nobody

[2014-03-06 13:56] ghost opened #41 "Deleted emails get parsed"
Hi,

In a context of threaded emails, you can delete specific emails and thus they get removed from that thread.

However, when using `gmail.get.email_data()`, all emails are considered, including the deleted ones.
That may be a good thing when it comes to handling all emails of a thread regardless of their deletion state.

But when it comes to actually parsing what's currently _here_ on the inter

[2014-03-08 02:54] #38 closed, assigned to nobody

[2014-03-08 03:12] KartikTalwar opened #42 "Add restore message action"
[code]

[2014-03-08 04:41] KartikTalwar opened #43 "[BUG] `is_deleted` has false positives in `api.get.email_data()`"
So this is a part extension of #39, where 'folded' emails don't contain the email's meta data when running `api.get.email_data()`. The check for detecting deleted emails in #41 is checking the existence of the meta data. This intersection returns false positives.

**Possible solution:**

Sift through `api.tracker.email_data` after calling `api.get.email_data()` and detect what elements are present

[2014-03-08 19:14] #42 closed, assigned to nobody

[2014-04-05 22:33] niftylettuce opened #46 ".inboxes() method doesn't exist"
Just FYI you have this in your Readme.md and it's not actually a method

[2014-04-06 18:41] niftylettuce opened #47 "gmail.get.email_data does not allow id to be passed"
Per the Readme [example](https://github.com/KartikTalwar/gmail.js#gmailgetemail_dataemail_idundefined), I've looked into the source code and found that the function for this is simply `function () {` as opposed to `function(id) {`.

[2014-04-15 01:13] #46 closed, assigned to nobody

[2014-04-15 01:13] #47 closed, assigned to nobody

[2014-04-17 08:54] ghost opened #48 "Email data with conversation view off"
Hi there,

In #43 and #44 we dealt with email status, and the need to differentiate what's fully visible / partially visible / hidden / deleted in a conversation.

But I had not thought about the case when _conversation view_ is _off_ (via [settings](https://mail.google.com/mail/u/0/?zx=fnkwu8b0urgl#settings/general)), in which each email is seen in separate views. But even then, metadata include

[2014-04-17 13:24] vishva8kumara opened #49 "Need help for a Chrome Extension, on adding a widget for GMail."
Greetings.!

We are a team of avid Google Chrome extension developers. There are a few Chrome extensions we’ve developed that are already in the Chrome store.
At the moment we are working on a new project - developing a Chrome extension for gMail, and we want to add a widget to the left side rail panel along with the Google Chat, Quick Links etc..

we want to know if  there is a correct way of add

[2014-04-18 13:48] ghost opened #50 "Handle composition/reply/forward"
Hi,

Currently there are two observers to handle email data at its creation.
- **send_message**, even though it doesn't seem to include the new email content ;
- **show_newly_arrived_message** which doesn't seem to work for me, in the way that I expect it to trigger a callback when the new email enters the current thread.

By _creation_ I mean one of these :
- **composition** of a new email, perfo

[2014-04-29 05:36] #49 closed, assigned to nobody

[2014-05-05 12:17] joshnak opened #53 "Example for toggle_threads for gmail.observe.on"
I am using your js file to get the From emails of opened email(multiple threads), but i need to change the email id when user toggled a different thread like rapportive. I tried to use toogle_threads in this way
 gmail.observe.on("toggle_threads", function(id, url, body) {
      console.log("id:", id, "url:", url, 'body', body);
      });
But it didnt worked

[2014-05-26 11:10] ginotria opened #54 "Q: Reading/parsing xhr response"
Hello,

I have an observer for the send_message event where I can get data like the composeid and draftid. But for my use case, I would also want to get the email Id of the sent email.

Upon checking the xhr response for the send_message request the email id is indeed included. Is there a way to read and parse these responses like how xhr_watcher is doing?

Thanks,
Gino

[2014-05-27 02:39] nmyerson opened #56 "Gmail.js not loading fast enough"
I'm attempting to write a chrome extension using Gmail.js. Thank you!

I use the sample code:

var gmsrc = document.createElement('script');
    gmsrc.src = "https://xmailchrome.appspot.com/gmail.js";
    document.getElementsByTagName('body')[0].appendChild(gmsrc);
    console.log("Scripts loaded, Start playing ...");

But when I start playing it says: Uncaught reference error: Gmail is not define

[2014-06-13 09:49] brendanheywood opened #60 "Add gmail.observe.on("hover_email", callback)"
You may have heard that raplets inside of rapportive are being deprecated, I'm looking to build a drop in replacement chrome plugin which is compatible with the raplet spec, and this lib looks like it could do almost all of the heavy lifting. All it's needs is a way of observing when an email is hovered when inside a thread, either an email address in the to, cc, or bcc fields, or an email within

[2014-06-20 08:22] #54 closed, assigned to nobody

[2014-06-20 08:23] KartikTalwar opened #62 "Enhance observer response methods"
There now exists a pre and post request callback but we need to document it

[2014-07-10 22:19] tejasmanohar opened #64 "Getting sender email?"
Is it possible to grab the sender email from the inbox index view of the GMail interface?

[2014-07-11 15:43] artis3n opened #65 "GLOBALS is not defined"
Anyone else experiencing this error, and/or have a solution for it?

ReferenceError: GLOBALS is not defined
    at Gmail (http://localhost:3000/js/mvc.js:45:130)
    at Scope.$scope.listMessages (http://localhost:3000/js/mvc.js:47:17)
    at http://localhost:3000/js/angular.js:10822:21
    at http://localhost:3000/js/angular.js:19816:17
    at Scope.$eval (http://localhost:3000/js/angular.js:12724

[2014-07-30 01:38] KartikTalwar opened #66 "Add gmail.js to CDNJS"

[2014-07-30 23:27] #65 closed, assigned to nobody

[2014-08-01 16:04] tejasmanohar opened #69 "Add gmail.js to bower"
Maybe you should create a bower package?

[2014-08-01 16:08] tejasmanohar opened #70 "Gmail() is undefined"
I'm writing a chrome extension and trying to incorporate Gmail.js.
I have jquery injected in the manifest under content scripts first, then gmail.js, then my content script - which has the following line at the top...
`var gmail = Gmail();`

For some reason, on trying to use `gmail.get.user_email();` in chrome dev tools JS console, I get gmail is not defined though it is evident that the content s

[2014-08-01 21:12] #69 closed, assigned to nobody

[2014-08-01 21:12] #70 closed, assigned to nobody

[2014-08-05 15:14] tejasmanohar opened #72 "Passing Gmail.js information to Popup"
Gmail.js must be run in a content script for chrome extensions. How would I pass the information from Gmail.js to the popup of the main extension?

[2014-08-05 22:01] #72 closed, assigned to nobody

[2014-08-18 19:14] pirate opened #75 "Gmail blocking third party scripts?"
I'm not sure if this is a known issue, but I don't see any notice of it so I'm posting an issue:

Attempting to inject via console throws the error below.  It looks like gmail is blocking all third party scripts?

[code]

[2014-08-18 22:30] #75 closed, assigned to nobody

[2014-08-27 19:07] Osmosis311 opened #78 "get.compose_ids does not work for full-screen compose windows"
When trying to get the compose_ids for compose windows that are "full-screen" (where the background is faded), the function returns a 0-length array.

[2014-08-30 06:12] #78 closed, assigned to nobody

[2014-09-04 15:15] mhemmings opened #81 "VIEW_DATA undefined in full screen view"
In gmail full screen view, for example when clicking on a "mailto:" link, the global var "VIEW_DATA" is not defined.

To see the full screen view, see https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=test@example.com

[2014-09-05 00:55] Osmosis311 opened #83 "DOM Observer for recipient_change not working"
I added this code (as per the readme file), and nothing is logged to the console window when I add or change recipients in a new compose window:

[code]

[2014-09-05 16:31] Osmosis311 opened #84 ""To", "CC", and "BCC" arrays in the Thread object are not working properly"
I am using get.email_data, and the people_involved object has the correct recipients listed, but in the thread object for the same email (only one thread, new compose window), the To array only has the first recipient listed; none of the other recipients are there.

Please see this screenshot: http://cl.ly/image/1t1r2d1k0g0a

Thanks!

[2014-09-17 18:41] drittich opened #86 "How to modify the body before send?"
I have tried various ways to modify the body in `gmail.observe.before('send_message'...` but am not having any luck. It seems that modifying the body prevents gmail from sending the message. Modifying the subject as per boilerplate works fine, however.

Is it possible to do this?

[2014-09-30 17:23] brandonhilkert opened #87 "How to know which emails are expanded"
Hey! Awesome lib...any chance when you get the threads to know which are open, and which aren't?

Also, any idea when the `expand_email` event will be stable?

[2014-09-30 20:50] MatthewHallCom opened #88 "gmail.dom.composes() is undefined"
Hey,

We are looking to modify the dom of compose windows but it looks like the DOM function for Compose(s) is unavailable in the newest release?

[code]

[2014-10-01 05:39] #88 closed, assigned to nobody

[2014-10-07 18:24] yellowandy opened #89 "Missing: gmail.dom .compose()"
Great job so far on this api, thank you!  Noticed that gmail.dom .compose() seems to be missing in the master branch?  I was looking for a way to programmatically pop open the compose screen and hopefully specify the subject,body, and recipients.  Thanks for your help!

[2014-10-10 17:32] keven425 opened #90 "modify url parameters on POST request"
I'm building an app that requires modifying email body. The url.cmml parameter represents the length of body string. If body is changed, url.cmml needs to be updated to new body length, otherwise gmail server will not send the email.

I saw the comments in api.tools.xhr_watcher():

// TODO: recreate the url if we want to support manipulating url args (is there a use case where this would be needed

[2014-10-22 16:03] orrion opened #92 "Edit body of the received email (on open_email)"
Hi guys,
Does anyone knows if it is possible to edit email body of the received email , I mean to edit the body of the email before showing it to the user. I didn't find any method which can do this inside the gmail.js code, so now I'm wondering whether it is possible or not. Thanks in advance for any answer...

[2014-10-31 20:51] keven425 opened #93 "Open compose modal in page"
@brentkelly @KartikTalwar I wonder if you guys have ideas on how to open a compose modal in page? That way is less disruptive than opening a new compose window.

[2014-11-06 15:46] brandonhilkert opened #95 "Getting email data when Gmail is refresh on an email"
I'm using @brentkelly's fork right now to take advantage of `view_thread` and the like.

Currently, my extension loads on an email thread at the bottom of the thread. The extension is triggered to render the addition at the bottom like so:

[code]

And this works perfectly. However, if the browser tab is reloaded on a thread, that event is obviously not triggered, so the extension isn't booted and

[2014-11-10 06:46] #81 closed, assigned to nobody

[2014-11-12 16:49] #87 closed, assigned to nobody

[2014-11-12 18:41] danieltigse opened #97 "No 'Access-Control-Allow-Origin' header is present on the requested resource"
I want to make a POST request but always return with this error:

XMLHttpRequest cannot load https://mypage.com/. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://mail.google.com' is therefore not allowed access. The response had HTTP status code 404.

I am using this code: https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate

[2014-11-13 14:30] #97 closed, assigned to nobody

[2014-11-13 14:47] #95 closed, assigned to nobody

[2014-11-19 16:32] orrion opened #101 "dom.composes() in full screen."
Hi @brentkelly , I think I found one issue with dom.composes() method. If you are using full-screen mode for your compose windows then .M9 elements (compose window) are not inside the .AD elements and this method doesn't work ...

Maybe we can run each directly on .M9 elements? (like following):

[code]

[2014-11-20 14:00] HangYang opened #102 "How to get the recipient's avatar?"
The gmail.js is awsome. I just wonder is there any way to get the recipient's avatar when composing , now  I can get the recipient's name and email via gmail.observe.on("recipient_change").

thanks

[2014-11-24 17:39] orrion opened #103 "observe 'discard_draft' is not working..."
[code]

it seems that it is not working, when I delete (discard) draft there is no output in browser console....

[2014-11-24 21:45] #103 closed, assigned to nobody

[2014-11-25 00:51] winstonpang opened #105 "When calling get.email_data, content's for some threads are truncated?"
So when I call the get.email_data method, some of the thread's content/content_html property, provide only the truncated/snipped body, with ellipsis at the end.

Reading the documentation I alluded that passing in the email ID to the method would not rely on the DOM contents but fetch it directly, so I fed the ID in for those emails that were being truncated, and it still doesn't return the full b

[2014-11-26 02:31] bradvogel opened #106 "gmail.tools.infobox doesn't hide info box"
I'm calling `gmail.tools.infobox('', 0)` to hide the info box; however, it isn't disappearing and instead it's leaving an empty yellow box at the top of the screen.

[2014-11-26 15:23] jpramirez opened #107 "Gmail.js interfering with Google Docs"
Hi Guys, im having trouble with Gmail.js when i open any kind of document on google docs, it simple says and error occurred , reload the file.

Anyone that has a clue on what's going on?
Thanks!

[2014-11-27 19:54] #107 closed, assigned to nobody

[2014-11-29 07:24] #106 closed, assigned to nobody

[2014-11-29 17:08] ian-weatherhogg-refractiv opened #108 "observing check/uncheck"
Hi Kartik,

Are there any plans to observe message selections/checkboxes?
Or is there another way I can build a list of message IDs that are currently selected?

Many thanks,
Ian

[2014-11-29 21:52] #105 closed, assigned to nobody

[2014-11-29 21:52] #93 closed, assigned to nobody

[2014-12-01 02:47] bradvogel opened #109 "gmail.get.displayed_email_data().threads should only return one thread in conversation view?"
To repro:
1) Send an email to yourself.
2) Reply to that email so you have two messages in a single thread (conversation view). The url will be something like https://mail.google.com/mail/u/2/#inbox/14a03b7bb0d77dd9
3) Run `Object.keys(gmail.get.displayed_email_data().threads)` in the console.

Expected output:
I'm expect it to return one thread with ID `14a03b7bb0d77dd9` since that's the thread i

[2014-12-01 14:31] #101 closed, assigned to nobody

[2014-12-01 23:43] #109 closed, assigned to nobody

[2014-12-02 20:15] danieltigse opened #112 "¿How can I get url of attachment before send mail?"
I try:

gmail.observe.on("upload_attachment", function(file, xhr) {
    console.log("file", file, 'xhr', xhr);
});

But the url got it doesn't work after send email...

is this possible?

[2014-12-04 09:19] rinkudas opened #113 "Q.How can I inject data to add on listbox while composing for autosuggest?"
I have a requirement to add extra email suggestions apart from google own contacts when a user is typing an email while composing. I have to show that on auto suggest listbox. Do I have any method to achieve this?

[2014-12-07 23:19] winstonpang opened #115 "When do you subscribe to the observe.on events?"
So I'm using the gmail chrome boiler plate sample you guys have, I've left the main.js exactly as it is, except inside the main function, i add this line towards the end:

[code]

However debugging etc, it doesn't invoke it, what could be the problem, is it incorrect timing or area to observe the event?

Just to confirm I tried th other events like refresh or mark_as_important, and they all fire.

[2014-12-09 13:37] brandonhilkert opened #116 "view_thread/view_email not being triggered in personal Gmail"
I've developed a Chrome extension using this and rely heavily on `view_thread` and `view_email` events to insert some elements in to an email thread once clicked in to from the inbox.

We have Google mail for business and it works fine there, but the events never get triggered in personal Gmail. I have one other record of another user suggesting this. I thought it was based on the inbox setup and

[2014-12-09 20:18] yellowandy opened #117 "Added ability to trigger a search"
Not sure if you want a pull request but I had a need to search for something specific and trigger a search, happy to submit a pull request but the code is fairly simple:

[code]

[2014-12-12 06:23] HangYang opened #119 "observe.on recipient_change does not trigger when deleting recipient"
The recipient_change triggered when adding recipient, but not trigger when deleting.

[2014-12-15 01:40] #66 closed, assigned to KartikTalwar

[2014-12-15 01:40] #64 closed, assigned to nobody

[2014-12-15 01:41] #84 closed, assigned to nobody

[2014-12-15 01:41] #22 closed, assigned to nobody

[2014-12-15 02:58] #113 closed, assigned to nobody

[2014-12-15 02:58] #115 closed, assigned to nobody

[2014-12-15 03:03] #116 closed, assigned to nobody

[2014-12-15 03:04] #89 closed, assigned to nobody

[2014-12-15 03:04] #83 closed, assigned to nobody

[2014-12-15 03:06] #92 closed, assigned to nobody

[2014-12-15 21:53] wearhere opened #121 "gmail.get.localization() does not return the right result."
![screen shot 2014-12-15 at 3 48 22 pm](https://cloud.githubusercontent.com/assets/110000/5444670/6ba7f45c-8472-11e4-9547-5425d02891ba.png)

[2014-12-17 18:25] larsjohnsen opened #125 "Finding inbox thread IDs"
Is there any simple way to retrieve the IDs of checked threads in the inbox?

Currently am I using the visible_emails function and correspond them with title and date in DOM, but this is error prone and slow:

[code]

[2014-12-17 18:43] #125 closed, assigned to nobody

[2014-12-21 12:55] suneeshtr opened #126 "how you come to know about GLOBALS.? there is no globals in inbox.google.com"

[2014-12-21 18:40] #126 closed, assigned to nobody

[2014-12-25 20:48] ghost opened #127 "Put a label on a thread"
Hello , I would like to create a button to mark a thread with a specific label . I managed to create a button in tollbar . What is the best way to create an event to put a label on a thread? I've tried to simulate clicks on the button labels , but did not work. It would be possible to add this functionality in lib ?

[2014-12-26 08:31] gladsonrobinson opened #128 "Firefox issue"
Am building a Firefox based gmail app. But getting an error of gmail is not defined. Whether
Our gmail.js support Firefox . please let me know.

[2014-12-26 20:53] #128 closed, assigned to nobody

[2014-12-27 03:53] #127 closed, assigned to nobody

[2014-12-29 11:30] rinkudas opened #129 "Q. Can I use gmail.js in a firefox addon for gmail?"
I have already used this cool script to create a gmail extension for chrome. I want to port that same feature to a firefox add-on for the gmail. Can I use this script as it is?

[2014-12-30 09:05] yabez opened #131 "delete_label is never triggered"
Hello
I noticed that the event is never triggered delete_label when deleting a label.
it seems that the associated action is not "dc_" but "rc_LABELNAME"

has someone already encountered this problem?

[2015-01-01 06:20] KartikTalwar commented on #131
This is indeed confusing. If you look at the current code (line 609) you'll see that `rc_^i` is the action that happens when you archive an email. I'm happy to make the change that allows multiple triggers but would you mind checking what action fires when you archive an email on your account?

Also, what country is your gmail registered on? Is it possible for you to check on another gmail account

[2015-01-01 07:15] brentkelly commented on #131
We're on summer hols over here so I'm at the beach with real bad internet
access for next week or so.
On 1/01/2015 7:21 PM, "Kartik Talwar" <notifications@github.com> wrote:

--

Voted Best Web Developer at the 2013 Eset Netguide Web Awards. Read more
<http://www.zeald.com/blog/x_post/third-times-a-charm-00424.html>.

Disclaimer: Privileged information may be contained in this message. If you
are

[2015-01-01 07:17] KartikTalwar commented on #131
No worries, enjoy your holidays. Happy new year!

On Thursday, January 1, 2015, Brent Kelly <notifications@github.com> wrote:

[2015-01-03 11:22] fasp99 opened #132 "Getting email data when opening an email"
Hi,
I'm trying to include gmail.js to build a Chrome extension, but my object gmsrc is invalid, the function get.user_email() fails. The chrome developer tools (F12) tell me

How can I make this work? Where's the error?
Here's my code:

###### manifest.json ######
[code]
###### inject.js ######
[code]

[2015-01-03 19:50] KartikTalwar commented on #132
@fasp99 it's likely the content security policy. Can you try it with the boilerplate chrome extension

https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate

[2015-01-06 19:01] imemohit opened #133 "How to get all contact emails?"
I wanted to get the addon to get all contact emails and compare it with all the emails in the 'primary' tab only and hide the rest.

I can of course do the comparing,hiding etc. I just don't know how I can use your script to get all contact emails, and look for emails only in 'primary' tab.

Any help would be greatly appreciated.

[2015-01-06 20:56] KartikTalwar commented on #133
Hi @imemohit, can you clarify this a bit. Are you referring to all your gmail contacts or contacts in a particular email thread?

[2015-01-06 21:09] imemohit commented on #133
Hi, sorry for being vague. I am talking about all the gmail contacts. Thanks

On Jan 7, 2015 2:38 AM, Kartik Talwar <notifications@github.com> wrote:
Hi @imemohit, can you clarify this a bit. Are you referring to all your gmail contacts or contacts in a particular email thread?

---
Reply to this email directly or view it on GitHub:
https://github.com/KartikTalwar/gmail.js/issues/133#issuecomment-

[2015-01-06 21:11] KartikTalwar commented on #133
Thanks for the clarification. Unfortunately, this library only dealing with basic UI manipulation and gmail actions (send, mark as read, delete, etc). You'd have to use the google contacts api to get that list but you can this gmail.js to get a list of all the emails that are visible in the inbox and the participants of that email

[2015-01-06 21:14] imemohit commented on #133
Oh! Okay. Well, thanks anyways :)
Congrats on the great work.

[2015-01-06 21:14] #133 closed

[2015-01-07 22:43] PANCAKES opened #134 "Get Attachment Download URL or build download URL"
I am developing a Chrome extension that allows the user to select emails in a thread and forward those, with attachments if desired, to our SaaS product. I download the file locally and upload to our service with the email body, subject, sender, etc. Pretty basic.

Is there a way to get the download URL of the attachments in an email? I see each thread can have an attachments array, but each eleme

[2015-01-08 00:31] PANCAKES commented on #134
Looks like I can get the raw HTML for the message with
[code]
and parse it from there. Is this the best we can do at present?

[2015-01-08 03:18] brentkelly commented on #134
@PANCAKES I've built a chrome extension similar to what you are doing here. Basically I inject some elements with the ``view_thread`` and ``view_email`` observers into the interface for composing an email, or for reading an email thread, which allows the user to select elements in our CRM to attach the specified email to.

I use a different approach to you - if they do it for an existing email thr

[2015-01-08 16:49] PANCAKES commented on #134
Thanks @brentkelly, but our API accepts a JSON payload with fields for subject, sender, etc, so I am very hesitant to add another endpoint that is specific to this single application. We do not store the entire raw email at this time. I would like to keep the email parsing on the client side and keep the API clean for our 3rd party developers, as well as ourselves.

I will circle back to this on t

[2015-01-09 06:32] rinkudas commented on #129
@KartikTalwar  Thanks for your reply. I have used it in firefox and it is working perfectly till now with my requirements. You may close this issue.

[2015-01-10 08:00] KartikTalwar commented on #134
@PANCAKES So turns out that fetching attachments follows a nice convention:

**https://mail.google.com/mail/u/0/?ui=2&ik={ik_value}&view=att&th={message_id}&attid=0.{atachment_index}&disp=safe&zw**

`attachmment_index` is just the index of the attachment. If there are 3 attachments and you want to get the 3rd file, the index value will be `3`. This URL is a 302 header that acts like a link shorten

[2015-01-12 18:57] PANCAKES commented on #134
@KartikTalwar Awesome, thanks! I was hoping it would be that easy, but I got stuck trying to find the realattrid value (which is in the download URL of the file in the DOM), but was unaware it was not required. Thanks for taking a look!

[2015-01-12 19:01] KartikTalwar commented on #134
np :-)

[2015-01-13 20:57] fasp99 commented on #132
Thanks, that worked!

[2015-01-13 20:57] #132 closed

[2015-01-15 20:52] brandonhilkert opened #135 "Best way to get transition out of conversation"
Quick q, what's the best way to know that one has left a conversation view? Either gone back to the inbox, or clicked out of the threaded view by clicking one of the other labels or anything else really.

Thanks!

[2015-01-15 21:00] KartikTalwar commented on #135
`gmail.check.is_inside_email()` but its not an observer. You'd have to do it via a setTimeout

[2015-01-15 21:03] brandonhilkert commented on #135
I saw that and had the same thought. I'm more interested in getting it at the time they leave the conversation view, so I can resize some elements on the page. Any other ideas?

[2015-01-15 21:14] KartikTalwar commented on #135
Yeah its hard to do that generically without inspecting the dom. If the person is not on preview panes, you'll know that they are not in an email thread if the navigator url changes. The url won't have the email hash. You can add a on hash change observer to your renderer. Otherwise, you'd have to either do setTimeout or attach a DOM observer and check if it changes. For example if the main view h

[2015-01-15 21:31] brandonhilkert commented on #135
I started going down that path. Observed that when in a conversation view, there's a `.g` element. You think `MutationObserver` or some jQuery event?

[2015-01-15 21:37] KartikTalwar commented on #135
MutationObserver would definitely be better and simpler :-)

[2015-01-16 14:07] #135 closed

[2015-01-19 19:07] yellowandy opened #137 "Ability to register for page change events"
Hi, looking through the code base looks like we can easily get the current page but how about listening to page change events (say user clicks into a conversation and then back on the inbox).  Could just listen for the onhashchange event?

[2015-01-19 19:31] KartikTalwar commented on #137
This was discussed a couple of days ago #135
Sadly hashchange or dom mutation is the best way to do this but it's currently not natively part of gmail.js

I might do a more general observer (building on top of @brentkelly's work) but a custom solution would have to do for now.

[2015-01-19 19:42] yellowandy commented on #137
Great thanks, went the hashchange route and works pretty well.  Will try and contribute something over the next couple of days if I can.  Thanks!

[2015-01-19 19:48] KartikTalwar commented on #137
Awesome! Yeah hash change works really well but fails when you have preview
panes enabled

On Monday, January 19, 2015, Andreas Sandberg <notifications@github.com>
wrote:

[2015-02-15 18:08] Noha-mahmoud-azab opened #141 "Use gmail.js in popout email window"
Hello,
I used your gmail.js to build Gmail chrome extension, I face a problem when I send an email from a popout email window . I inject gmail.js in the Gmail body as script element. and create an object of it in another injected script. I put observers on after and before sending. Could you help me on that?
Notes:
In Xhr_watch i used the jsFrame from window.opener because it does not exist in the

[2015-02-18 16:05] medrawi opened #142 "Can not define the opener window when pop out message for reply"
When the user clicks the pop out button to open the email in a new window to manage [reply/forward], the send funcitonality break, and what we could do is to get the jsFrame in this case this way:

[code]

But there is a problem with the send functionality in this case, since "win.XMLHttpRequest.prototype.open" and "win.XMLHttpRequest.prototype.send" are overriden in the parent window, and they ar

[2015-02-19 00:48] catmanjan opened #143 "How do you add a drop-down toolbar button, like "More""
Is this possible with the content_html? Judging by the DOM there needs to be additional DIVs following the toolbar button.

[2015-02-19 01:11] KartikTalwar commented on #143
@catmanjan you can right click on an existing drowpdown, inspect element and copy its html

[2015-02-19 01:24] catmanjan commented on #143
Yes I know, but the content of the drop-down is not contained within the button, and if it is it displays incorrectly

Also the drop-down click event does not bind correctly

[2015-02-19 01:59] KartikTalwar commented on #143
Unfortunately, the goal of this library is to not focus on the UI implementations but instead do observers and provide helpful 'boolean' functions to make integrating with gmail easier. As terrible as this implementation sounds, the best way to get this done is to know the html for both states (inspect element after the click). You can either use jquery to do a full swap or diff to see what the on

[2015-02-19 14:36] moinc opened #144 "api.get.visible_emails() not working correctly?"
1) It works ok when you look at the inbox.
2) When selecting another tab, let's say "Updates" it still returns the emails from the "Primary" tab.
3) When doing a search the hash turns into: #apps/{keyword}:{query} where keyword can be "from" or "date-begin" for example. And query is the text being searched for. In this case the method just throws an error. api.get.current_page() seems to be unable

[2015-02-26 20:20] lievenjanssen commented on #89
@brentkelly  this doesn't seem to work for me when I do ```compose.subject("test")``` on the compose object I get back from ```gmail.observe.on('compose'....)``` it's not doing anything.

[2015-02-26 23:38] brentkelly commented on #89
@lievenjanssen I've just tested this & think I know what is going wrong for you. The code works fine, but it's a matter of execution order - I'm guessing you are probably trying to set the field before the field has been successfully injected into the DOM.

As a general rule of thumb, unless there is a good reason why not, I defer the execution of all code when an event gets triggered. So your sol

[2015-02-27 04:58] catmanjan opened #146 "Event for when selecting/deselecting email(s)"
If you add a button to the toolbar, then select an email, the buttons are removed.

In particular, I want a set of buttons to only appear while emails are selected.

Is there a trigger to listen for, for these events?

[2015-02-27 06:19] lievenjanssen commented on #89
@brentkelly @KartikTalwar I already thought it was because the field was not injected in the DOM yet but I expected it to work without the need to defer it so I think  always deferring may be a good fix.

[2015-02-27 06:22] lievenjanssen commented on #89
@brentkelly I also need to be able to fill out the to: and cc: fields do you have any idea when this will be available? If it's not too hard I would be glad to check it out myself if you give me some pointers.

[2015-02-27 17:59] richygit commented on #36
Using the example from  @KartikTalwar, I kept getting:

Uncaught ReferenceError: Gmail is not defined

I had to add the following into my manifest:

"permissions": ["activeTab"]

And that seemed to fix it.

[2015-03-02 14:05] lievenjanssen opened #148 "Set to: cc: bcc: on api.dom.compose object"
In the code there is a comment on the to: cc: and bcc: fields (TODO: ability to set)

Are there any plans to implement the to: cc: bcc: in the near future?

[2015-03-03 06:20] danielbreves opened #149 "gmail.get.email_id() returns the id for the wrong email when in preview_pane mode"
This seems to happen because [`api.dom.email_contents()`](https://github.com/KartikTalwar/gmail.js/blob/master/src/gmail.js#L267) returns all emails that have been viewed by the user when in preview pane mode and `email_id` only [returns the first one](https://github.com/KartikTalwar/gmail.js/blob/master/src/gmail.js#L280). A potential fix may be checking if the email is visible.

e.g. https://git

[2015-03-03 06:54] grandhivamsi opened #150 "gmail.get.email_data() not fetching email data correctly"
Hi,

gmail.get.email_data() not fetching email data correctly if we have multiple threads. For one of the threads data not fetching properly.

For example I have an email with 4 threads. One of the email thread data is not coming correctly. Please look into this and do the needful.

Regards,
Vamsi

[2015-03-03 11:00] brentkelly commented on #89
@lievenjanssen - I had a brief look at this but didn't need it for my app so haven't implemented it yet.

It is more complex than the subject etc because it creates a bunch of DOM objects for each to/cc/bcc address to allow you to delete it with a click, drag it around etc. IIRC after a bunch of experimentation I found a hidden element that stored all to addresses, and that if you updated that & t

[2015-03-03 11:13] brentkelly commented on #148
@lievenjanssen - I had a brief look at this but didn't need it for my app so haven't implemented it yet.

It is more complex than the subject etc because it creates a bunch of DOM objects for each to/cc/bcc address to allow you to delete it with a click, drag it around etc. IIRC after a bunch of experimentation I found a hidden element that stored all to addresses, and that if you updated that & t

[2015-03-03 11:23] brentkelly commented on #148
@lievenjanssen - OK the mouse event thread I was referring to is #117 which seems to work fine for triggering the search.

I tried this approach here but it doesn't seem to work for me. I don't have much experience at simulating click events some perhaps someone knows more.

[code]

Aside from that approach, I'm sure really how you could implement this functionality without re-implementing the Gma

[2015-03-03 23:10] danielbreves commented on #149
Replaced by https://github.com/KartikTalwar/gmail.js/pull/151.

[2015-03-03 23:10] #149 closed

[2015-03-04 02:36] KartikTalwar commented on #150
@grandhivamsi can you give more information please? can you paste screenshots of the thread screen and your json response for `get_data()` and pin point what the missing information is

[2015-03-04 02:39] KartikTalwar commented on #146
@catmanjan unfortunately there isn't a direct trigger to do this. You can use mutation observers or even a settimeout function to execute the function to add the buttons if `gmail.check.is_inside_email()` returns true

[2015-03-04 02:39] #143 closed

[2015-03-04 02:39] #141 closed

[2015-03-04 02:39] #142 closed

[2015-03-04 02:40] KartikTalwar commented on #144
@moinc looking into this now. Sorry for the late response

[2015-03-04 02:40] #137 closed

[2015-03-04 08:29] moinc commented on #144
Maybe this helps:

1. Found that when using Google Apps (for Business) the "place" for the search result is #apps/... and not #search/... slight difference.
2. Also in Google Apps (for Business) there may be a different layout of the page where the list is split into categories ("Primary", "Social", "Promotions" etc. and these are optional). Not sure if this is available in the free gmail also.
3.

[2015-03-10 16:00] rebelok opened #153 "Add permanent button to toolbar"
Hi!
I want to add a permanent button to toolbar so it would stay there despite of my actions in the inbox.
Now it disappears on any http_request, even page change.
Is it possible to subscribe to any http_request?

[2015-03-10 20:48] brentkelly commented on #153
I'm sure it's possible but, as far as I am aware, not without modifying gmail.js core. I would suggest the easiest (dirty as it may be) option would be to simply set a setInterval to run 2 or 3 times a second to check that your button is still there & if not add it back. You'd obviously want to write it efficiently.

[2015-03-10 22:23] #146 closed

[2015-03-11 18:51] KartikTalwar commented on #153
Hey @rebelok as @brentkelly mentioned, `setInterval` would be the safest and best way to kinda have the additional buttons up there, but I do think it'd be nice to have a generic observer type to handle all http request. I'll add that this weekend :-)

[2015-03-12 03:52] catmanjan opened #154 "Develop a utility function to show a popup window"
Similar to the window that appears when you select "Delete all spam emails", I am in the process of hacking one together for an app, I'll try to write something more sensible and create a pull request.

[2015-03-13 01:14] catmanjan opened #156 "Develop a utility to select/deselect emails"
A function to deselect all currently selected emails would be useful, especially as part of completing a multi-email action

[2015-03-13 01:21] catmanjan commented on #156
[code]

[2015-03-15 18:45] KartikTalwar commented on #156
@catmanjan this is how the DOM looks like for my gmail. The select and deselect code you pasted does not work on my gmail

![screen shot 2015-03-15 at 2 44 36 pm](https://cloud.githubusercontent.com/assets/461702/6657420/d79009fc-cb21-11e4-91e2-a99476e43859.png)

[2015-03-15 18:45] KartikTalwar commented on #154
This could/would be useful!

[2015-03-15 22:03] catmanjan commented on #156
Yep I noticed that too, for now I'm using the following function:
[code]
Which manually unticks each checkbox, but it's not really appropriate as it skips emails that aren't visible. I'll keep investigating.

[2015-03-17 12:52] rohan-sns-dev opened #157 "Q: How can I use this I am not getting at all"
What I am doing is in my content script where I have document.ready
I am inserting all 3 files like jquery.min.js then gmail.js and main.js which all are under web_accessible_resources and I do get gmail = new Gmail(); inside main.js but the problem is how can I use this gmail variable of main.js in my all other content scripts

I am stuck please if you can help me

[2015-03-17 15:41] KartikTalwar commented on #157
Please see the boilerplate example repo from the readme

On Tuesday, March 17, 2015, rohan-sns-dev <notifications@github.com> wrote:

[2015-03-18 12:48] rohan-sns-dev commented on #157
@KartikTalwar : Thanks for the immediate response. Yes I have seen that example but the issue that I am facing is main.js file under that example is in web_accessible_resources and I want the instance of Gmail() to be used in my content script lets say in content.js in case of BoilerPlate example so how can I do this?
Basically all gmail related apis I want to access in contentScripts I have also

[2015-03-19 15:42] glebovilya commented on #148
It seems like there have to be several places to add needed data - not only input[name="to"]. Probably solution is to add:

1) <div class="vR"><span class="vN vP a3q" email="email@email.com"><div class="vT">email@email.com</div><div class="vM"></div></span><input name="to" type="hidden" value="email@email.com"></div>

have to be added as previous sibling of textarea

2)<div id=":xx" class="oL aDm

[2015-03-19 16:56] glebovilya opened #158 "how can I turn off xhr logging"
I have called one gmail.tools.xhr_watcher()
 and now I can't figure out what have I do to turn off constant xhr logging. Page reload and closing was not helpfull

[2015-03-20 04:07] KartikTalwar commented on #158
hi @glebovilya you shouldnt be using the `tools.xhr_watcher()` to do anything. That function is what the `observe` functions use in the library. If you still want to manually turn it off, you can run `gmail.observe.off()`

[2015-03-21 05:29] petsona commented on #150
gmail.get.email_data() failing for me as well. it uses ajax synchronous call which is deprecated, see jQuery documentation:

As of jQuery 1.8, the use of async: false with jqXHR ($.Deferred) is deprecated; you must use the success/error/complete callback options instead of the corresponding methods of the jqXHR object such as jqXHR.done() or the deprecated jqXHR.success().

[2015-03-21 16:12] #158 closed

[2015-03-21 16:14] glebovilya commented on #158
My issue was not connected with using of gmail.js. It was a chrome developers tools standard xhr logging.

[2015-03-21 16:25] KartikTalwar commented on #150
@petsona for now, using an older version of jquery would be preferred but I'll try to making it async.

[2015-03-21 23:57] #153 closed

[2015-03-24 10:41] glebovilya opened #160 "Autocomplete suggestions"
Can subj be implemented somehow? It needs to have the same functionality that the searchform on the top of gmail

[2015-03-24 17:58] KartikTalwar commented on #160
@glebovilya unfortunately, this library does not try to deal with the UI.

[2015-03-24 17:58] #160 closed

[2015-03-27 20:54] bdag opened #161 "Observer for poll not working"
Simply pulling from the Readme example, the following will never fire:

gmail.observe.on("poll", function(url, body, data, xhr) {
  console.log("url:", url, 'body', body, 'data', data, 'xhr', xhr);
});

[2015-04-03 21:13] KartikTalwar commented on #161
hello @bdag is this still an issue? I'm testing it on my personal gmail and google apps account and this seems to be triggering fine for me

[2015-04-07 08:31] whather commented on #60
Hey @KartikTalwar, any updates on gaining access to the email hover popup? Would love this functionality to insert a custom button inside the popup.

[2015-04-08 21:49] whather opened #162 "view_thread and view_email observers are ONLY called when clicking into the thread from the inbox"
I have an issue where if I load a thread from a hard page refresh, and then start opening emails from the conversation view, the view_email observers don't fire. Is there a way to force the thread observers to work when loading a thread from a hard page refresh (without clicking on it from the inbox view)?

These are my observers:

[code]

Do I need to initialize the thread somewhere in the load()

[2015-04-09 07:40] KartikTalwar commented on #162
Hey @whather the observer actions are all based on http sniffing. A specific http action request gets called for each of those tasks (viewing thread, polling, pressing buttons) therefore the callback functions are only triggered for the threads when you click an email in the inbox view.

The actions are also not exclusive, `load` is a DOM action and `view_email` is a http action. When the DOM item

[2015-04-09 21:55] whather commented on #162
This is the issue I'm trying to fix. When you hard load a thread view (without clicking into it), it works fine for the most recent email:

![screen shot 2015-04-09 at 2 47 58 pm](https://cloud.githubusercontent.com/assets/148534/7077703/dc221d48-dec7-11e4-89c5-59a00e825d02.png)

But then when clicking into an older email within the thread, the view_email observers don't fire (notice how the blue

[2015-04-10 05:53] catmanjan commented on #162
I think because there is no AJAX request when you expand a message in a thread these listeners would not work. Best bet is to use a DOM onclick event.

@KartikTalwar it would be nice to have hooks into the listeners for these cases, but I think they warrant their own event type.

[2015-04-15 14:50] lievenjanssen commented on #148
@brentkelly currently I am setting the to and cc on the compose object I get back from the compose event like this:

[code]

For me this is sufficient because when I click send the email gets send to the right addresses. I am not simulating any clicks.

Wondering if this implementation would suffice to implement the set functionality in the lib.

[2015-04-15 15:02] lievenjanssen opened #164 "new_email event triggered incorrectly"
The new_email event is triggered incorrectly:
- when I load gmail (triggered multiple times)
- when I view an email

Can this be solved or is there any way to work around this?

[2015-04-17 15:29] worshchick opened #166 "How to prevent xhr sending using gmail.observe.before()?"

[2015-04-17 20:49] KartikTalwar commented on #166
@glebovilya im not sure I understand what you are asking. Can you be more detailed please

[2015-04-17 21:46] KartikTalwar commented on #164
@lievenjanssen let me check if there is other information in the request url when a request for new messages fires

[2015-04-17 22:10] KartikTalwar commented on #164
I was able to narrow down the triggers. So a `new_email` action should trigger when any activity happens (auto - aka not manual) in the inbox thread view. This should fire when a new email either shows up or changes it's state.

If you try changing the if statement [here](https://github.com/KartikTalwar/gmail.js/blob/master/src/gmail.js#L699) with the one below and test it, things should work as e

[2015-04-19 18:05] mastef commented on #112
Fix in #134

[2015-04-19 18:06] mastef opened #167 "maybe worth adding an uploaded_attachment action?"
Currently it seem we can only track upload_attachment events - which is when the file upload has started, right? How about an event when it successfully finished?

[2015-04-20 07:55] lievenjanssen commented on #164
@KartikTalwar it works like a charm. Thanks for the prompt follow-up!

[2015-04-20 09:13] glebovilya commented on #166
This question is about ability to stop e,ail sending while I am observing 'send_message' event.

something like:

gmail.observe.before('send_message', function(){
    if (condition !== true) {
        // prevent email sending
    }
})

[2015-04-20 11:43] lievenjanssen commented on #164
@KartikTalwar after some further testing it seems that the new email event is automatically triggered every 2 minutes. As seen here (my code does an api call to the backend when a new mail arrives):

![calls](https://cloud.githubusercontent.com/assets/958643/7228125/5c48ec22-e756-11e4-8bb8-39a753bcf8c0.gif)

Based on some research in the response object I see that in the case that no new email has

[2015-04-30 16:14] worshchick opened #168 "add delay parameter to api.observe.trigger"
I think that this might be useful ability - to trigger observable events after 1000ms for example.

[2015-05-01 03:17] KartikTalwar commented on #168
Hi @glebovilya at this time I don't think this is something that should be natively part of the library. Passing an arbitrary function as a callback gives you complete control of what can be done. Paired with running observe actions on, before & after and using js timeouts appropriately will let you run functions with custom delay

[2015-05-04 14:59] lievenjanssen commented on #164
@KartikTalwar were you able to have a look at this?

[2015-05-06 19:01] keven425 opened #169 "safer alternative to eval() for parsing Gmail's response"
In gmail.js, eval() is currently used to parse JSON-like response. Is there any safer alternative to using eval(), in order to minimize the risk of script injection, etc. ?

[2015-05-07 04:20] KartikTalwar commented on #169
@keven425 seems like `eval()` can be eliminated. I'll try tackling that along with a couple other open issues this weekend :-)

[2015-05-07 06:54] keven425 commented on #169
That will be amazing. Thank you @KartikTalwar !

Here's what I've tried: using regex to replace:
1. ',,' with ',null,'
2. single quotes with double quotes

But then we ran into issues where double quotes were used inside a single-quote string, such as css font style.

[2015-05-09 00:01] shaosongli opened #170 "can not change xhr.xhrParams.body_params.body before send_message"
Hi,

I am developing a Google Chrome Extension and want to encrypt the message before sending. When I use the gmail.js and run the example to change to subject of the send_message, it works. However, I cannot change the body parameter. Does anyone know how to change the body of message before sending, such as replace it with the encrypted body? Some examples would be perfect, thanks.

[2015-05-09 01:05] shaosongli commented on #170
By the way, I can change the compose dom, but when sending, the change has no effect. What is the relationship between the compose dom and xhr or email_data. The latter two record exactly what I input in the compose box. I am know to this, thanks for any explanation.

[2015-05-11 01:35] KartikTalwar commented on #164
hey @lievenjanssen so it'll be hard to support various edcases like these but luckily this intent is already supported by the `.after` observe action. You can do something like

[code]

[2015-05-11 02:39] #169 closed

[2015-05-11 05:21] KartikTalwar commented on #170
Hello @shaosongli unfortunately gmail hashes the message data before sending and this is a common issue with this library (you can search this in issues). The solution to this is to get the message content and modify that before the send action

[2015-05-11 05:44] KartikTalwar commented on #150
Async methods have now been added

[2015-05-11 05:44] #150 closed

[2015-05-11 05:48] KartikTalwar commented on #166
I believe I remember @brentkelly answering something similar a while ago. If he is available, he might be able to give better insight into how a request can be prevented by a `before` observe action

[2015-05-11 06:00] keven425 commented on #170
If I remember correctly, there's a cmml parameter that represents length of gmail message. You could update that parameter to reflect the new body length.

[2015-05-11 15:30] onassar opened #173 "Is there a minified version?"
Thanks for your contribution with this library @KartikTalwar
Any chance there's a minified version somewhere that has all t's crossed and i's dotted (as in, no syntax issues with missing semi-colons, etc?)

[2015-05-11 15:32] KartikTalwar commented on #173
You can just run the file on jscompress and use it

On Monday, May 11, 2015, Oliver Nassar <notifications@github.com> wrote:

[2015-05-11 15:33] onassar commented on #173
You mean something like [jscompress.com](http://jscompress.com/)?

[2015-05-11 15:49] KartikTalwar commented on #173
Yes

On Monday, May 11, 2015, Oliver Nassar <notifications@github.com> wrote:

[2015-05-11 15:56] onassar commented on #173
Gotcha. Thought there may be syntax issues, but all good.

[2015-05-11 15:56] #173 closed

[2015-05-11 18:58] onassar opened #174 "GLOBALS is not available on dedicated-thread page"
It seems I can't create a `Gmail` reference on pages like the following:
`https://mail.google.com/mail/u/0/?ui=2&view=btop&ver=dqujp3h61mgd&search=inbox&th=14d424827ebef4cb&cvid=1`
You can access your own URLs by heading to your gmail and pressing Command+Click on one of your messages

Looks like the `GLOBALS` object doesn't exist here
Is there a way around this that you've run into?

[2015-05-11 23:11] shaosongli commented on #170
Thanks for the reply @KartikTalwar Do you mean the solution in issue #86 . which means making the update to the body on the mousedown event for the send button rather than the click event. Sorry I am new to this area and do not even know how to catch the mouse down event of the send button.

[2015-05-11 23:14] shaosongli commented on #170
Hi @keven425 , I think you have a similar problem to modify the body in issue #90, any luck for that. And could you give me some refer or example code, thanks.

[2015-05-13 03:19] keven425 commented on #170
@shaosongli sorry I don't have any sample code. But you can approach this in two ways:

1. modify url parameter "cmml" to reflect updated length of body. Length will be `body.length`. `body` you can get from the post data. However, cmml is passed in xhr open() call. Last time I checked gmail.js didn't provide a way to intercept the open().
2. modify body in dom before send API request happens. The

[2015-05-14 15:43] glebovilya commented on #148
@lievenjanssen I think you should create a pull-request that contain this workarounds. It is a brilliant solution imo.

[2015-05-14 15:52] onassar commented on #148
+1

[2015-05-18 16:26] rrb11 opened #177 "Email messages in a thread has is_deleted=true even if they are not deleted"
In a 4 mail thread when I opened the second mail its show me is_deleted=true. Even the mail was not deleted. Its start happening after 3 mail in a thread and after that the is_deleted=true number was increase.

[2015-05-18 21:20] brentkelly commented on #166
@glebovilya - I've never done this before. A couple of ways I would try though.

The 'cleanest' solution would be to update the function in gmail.js: ``api.tools.xhr_watcher`` which has the line: ``var out = this._gjs_send.apply(this, arguments);``.

You could try set a new param in the xmlhttprequest or xhrparams object in your ``before`` observer, then edit that line & make it conditional - e.g:

[2015-05-31 16:35] JerryBels opened #179 "How to get Email ID after send ?"
Hello !

As the title say, I want to get the ID of the email that was just sent. I tried

[code]

But none would bring me the info. I found the compose id, the draft id, but not the final id. I need it to be able to display the email to the user later :

[code]

[2015-05-31 19:33] JerryBels commented on #54
@KartikTalwar the solution you gave here

    gmail.observe.on("send_message", function(url, body, data) {
        var id = gmail.get.email_id();
        var info = gmail.get.email_data(id);

        console.log(data.composeid);
        console.log(info.threads); // you can sort the result by highest timestamp to get the newest mail
    })

doesn't work for me. It gives me the compose id, yes, but

[2015-06-05 09:46] amitg87 opened #180 "gmail.get.loggedin_accounts() returning incorrect data: gmail for work account"
Currently account info is extracted based on
{name : GLOBALS[17][23][1][i][4], email : GLOBALS[17][23][1][i][0]}

In one of a Gmail managed account (link:https://www.gmail.com/intl/en_us/mail/help/work.html)
I observed account info resides in
{name : GLOBALS[17][24][1][i][4], email : GLOBALS[17][24][1][i][0]}

Can this be generalized? Only if tested across many accounts.
Comments?

[2015-06-07 10:01] JerryBels commented on #54
bump !

[2015-06-07 10:02] JerryBels commented on #179
bump !

[2015-06-11 18:19] keven425 opened #181 "Detect whether compose is in HTML vs. plain text mode"
In the compose form, there is `$('input[name=ishtml]')`. However, its value is always set to 0.

Is there a way to detect if a composed email is in HTML vs. plain text mode before send? My application allows user to insert a block of HTML. We want to basically stop users from doing that if email is in plain text mode.

[2015-06-12 11:00] JerryBels commented on #179
Bump again

[2015-06-21 18:52] aliparlar opened #184 "Boomerang compatibility problem: Cannot read property 'extend' of undefinedGmail @ gmail.js:2078"
If Boomerang and Gmail.js are both installed:

Uncaught TypeError: Cannot read property 'extend' of undefinedGmail @ gmail.js:2078

[2015-06-21 23:54] keven425 commented on #181
@KartikTalwar Turns out there's a bit buried in GLOBALS object. Add function to check:

https://github.com/KartikTalwar/gmail.js/pull/185

[2015-06-23 14:52] danieltigse opened #186 "How to get email Headers?"
Hi,

is it possible get email headers?

Thanks

[2015-06-23 15:00] danieltigse commented on #186
gmail.get.email_source() is the solution

[2015-06-23 15:00] #186 closed

[2015-06-24 08:23] JerryBels commented on #179
And bump ! you really don't have any idea about this @KartikTalwar ?

[2015-06-27 23:24] JerryBels commented on #179
Stil hoping for an answer !

[2015-06-30 19:55] kolczagy commented on #179
Hi,

Here is my solution, it's working perfectly

gmail.observe.after('send_message', function(url, body, data, xhr){
        var googleMessageId = xhr[1][1][3][0];
});

[2015-06-30 20:01] kolczagy opened #187 "Ho can I obtain the google message IDs?"
Hi,

On my inbox are displayed 50 emails/page. I need to know each email's google message ID.
Can I obtain this? If I go to the next page again I have to retrieve somehow these ID's.
Is there any kind of method? get_visible_emails() is something like this, but it return every time 178 emails. Any idea?
My task is to mark those emails which satisfy a concrete rule.

Thank you,
Best Regards,
Gyozo

[2015-06-30 20:20] kolczagy commented on #187
Is there any event when paginating?

Best Regards,
Gyozo

[2015-07-01 08:44] JerryBels commented on #179
@kolczagy Awesome man, it works perfectly indeed ! I hope Google won't make ugly changes that breaks it though :)

[2015-07-01 12:02] JerryBels commented on #179
Actually... It works for new messages, but when answering / forwarding it doesn't.

        Uncaught TypeError: Cannot read property '3' of undefined

I guess I can simply check the type of message... Is that the solution you use @kolczagy  ?

[2015-07-02 09:04] tayfunyasar opened #188 "Insert Signature on email open"
I've tried to insert signature on email open but i cant select email typing textarea.

I cant fire on mail open and cant insert html signature into mail textarea.

How to do that? Still working about this. :) Thanks!

[2015-07-02 10:25] tayfunyasar commented on #188
[code]

[2015-07-02 10:37] tayfunyasar commented on #188
I've used "color:white;" :+1:

I think google didnt let me use opacity :) poor me.

[2015-07-08 08:34] rajeshyogeshwar opened #189 "Can I create a label and apply it to the emails? If no, what is needed to be done?"
I want to create a label when the extension is first installed, then based on my content script  I want that the newly created label is applied to the emails.

[2015-07-08 09:07] rinkudas commented on #129
Anyone needed a starting point how to use gmail.js in firefox addon can check https://github.com/rinkudas/gmail-firefox-addon-boilerplate. It provides basic functionality to inject gmail.js within gmail for using in an addon.

[2015-07-08 11:45] lievenjanssen commented on #184
Same problem here

[2015-07-08 22:56] KartikTalwar commented on #184
@aliparlar @lievenjanssen sadly this is a known issue. This happens because there are 2 jqueries being used on the page. Because this library's examples don't focus much on the implementation, a common solution is to use requirejs to sanbox the dependencies.

[2015-07-08 22:58] KartikTalwar commented on #129
@rinkudas thank you so much for actually getting this to work! If you'd like to make a pull request and add a link to your repo on the README, I'd be happy to merge it

[2015-07-08 23:00] KartikTalwar commented on #189
Currently, there isn't support for creating and mimicking various actions as the goal of the library is to be more on the passive side of observing whats going on in gmail. If you'd like to trace what requests are made when a label gets created and single out how to replicate it, we can perhaps make it part of the library

[2015-07-09 03:29] catmanjan commented on #189
@KartikTalwar what about all of the ```api.tools``` functions?

I think the kind of functionality @rajeshyogeshwar describes should be part of that group of functions.

[2015-07-11 09:06] kolczagy commented on #179
Can you try this:

 var googleMessageId;
        if (xhr[0] && xhr[0][5] && xhr[0][5][3] && xhr[0][5][3][0]){
            googleMessageId = xhr[0][5][3][0];
        } else if (xhr[1] && xhr[1][0] && xhr[1][0][2] && xhr[1][0][2][1]){
            googleMessageId = xhr[1][0][2][1];
        }

Best Regards,
Gyozo

[2015-07-13 08:48] JerryBels commented on #179
Hey @kolczagy , thanks again. I'm sorry but none of these works.

I digged a little more though and found out that I can find the ID when replying or forwarding in xhr[2][0][1]. I don't know what is said to be at the location you gave but it's empty for me.

xhr[1][1][3][0] still gives the ID when it's a new message.

That brings a very important question : how reliable can this method be ? Do you

[2015-07-14 14:47] lievenjanssen commented on #184
@KartikTalwar could you give me some pointers on what I need to change to make the gmail-chrome-extension-boilerplate work the way you suggested?

[2015-07-16 06:56] KartikTalwar commented on #184
@lievenjanssen you can see an example here https://github.com/salsita/chrome-extension-skeleton/tree/legacy/code/js

[2015-07-16 09:11] lievenjanssen commented on #184
@KartikTalwar I solved it by using the jQuery.noConflict function and the localJQuery parameter to initialize gmail.js.

gmail = new Gmail($.noConflict(true));

[2015-07-16 10:08] mavidser opened #191 "Get 'from' field in the Compose window, when available."
The api.dom.compose has almost all the attributes except the 'from' data, which is displayed when aliases are enabled.

![Example](https://cloud.githubusercontent.com/assets/4343949/8720499/b2128442-2bd0-11e5-920a-09cd880b098e.png)

[2015-07-17 04:48] KartikTalwar commented on #184
Oh awesome! Much easier than requirejs :-)
ᐧ

[2015-07-29 14:26] #112 closed

[2015-07-31 04:48] studgeek commented on #32
I definitely would love modify functionality

[2015-08-02 21:14] kolczagy commented on #170
Here is my solution and it works fine:

gmail.observe.before('send_message', function(url, body, data, xhr) {

        var oldCmml = xhr.xhrParams.url.cmml;

        var body_params = xhr.xhrParams.body_params;
        var string = '<div dir="ltr"><div>hello</div></div>';

        if (string.length > oldCmml) {
            xhr.xhrParams.url.cmml = string.length;
        } else {
            string

[2015-08-06 14:54] dagda1 opened #193 "send_message not firing"
I am using the latest code from master and I have the following code hooked up to observe a `send_message` event:

[code]

It never fires.

Other events do fire like `recipient_change`:

[code]

Is there something different about the `send_message event`?

[2015-08-10 09:28] KartikTalwar commented on #193
@dagda1 something is off. I currently have exams going on but I'd be able to look at this on Thursday. If you've had any progress with detecting why this is happening I'd appreciate a head start

[2015-08-12 10:57] sawhney commented on #193
send_message is working perfectly for me.

"Is there something different about the send_message event?"
Looks like the send_message event is triggered by listening for xhr requests while the recipient_change is triggered by listening for dom events. Maybe you have another extension interfering?
Do star, move_to_inbox, save_draft etc work?

[2015-08-27 09:19] JerryBels opened #194 "Bug - Gmail.js not defined in "new message" only window"
Hello !

So I found a bug that's really annoying. If someone ctrl+clic on the "new message" button of gmail, it opens a new tab containing the form to send the mail.

But, in that page, Gmail.js doesn't work. In my own plugin I'm working on, it says "GLOBALS is not defined", and even the boilerplate doesn't work at all, showing "Gmail is not defined".

To reproduce, simply :
1/ Grab a fresh instal

[2015-08-28 06:05] KartikTalwar commented on #194
Hey @JerryBels, this is expected since `GLOBALS` is the js variable that stores a few key user info in gmail.com which this library accesses. A popup from either a compose/print/etc does not contain the variable therefore the initialization fails. Would it be possible for you to describe what your extension wants to do in the popup window? There are a few things that you'd definitely not be able t

[2015-08-28 08:11] JerryBels commented on #194
Hey @KartikTalwar, thanks for answering !

Well, we're doing many things in our extension, using Gmail.js, that we need when a new compose window is opened. Detecting the user's email is the first. Then :

    gmail.observe.on("compose")

is used to inject a toolbar.

gmail.observe.before('send_message')

is used to add elements to the body of the message.

provider.observe.after('send_message')

[2015-08-29 06:39] KartikTalwar commented on #194
@JerryBels upon closer inspection, if you send a message from the popup window, the action still gets transferred back to the main gmail window which makes the request. This means that the observer will fire in the main window and should not require re-initialization in the popup window.

Because those `compose` and `send_message` observers don't require any `GLOBALS` properties, can you try chang

[2015-08-30 09:09] JerryBels commented on #194
Hey @KartikTalwar,

I did that test, interesting idea, but...

First, of course the current email is still undefined (hello, undefined !)

Then, also, there is a new error about this line in xhr_watcher :

    var win = top.document.getElementById("js_frame").contentDocument.defaultView;

The error :

    Uncaught TypeError: Cannot read property 'contentDocument' of null

Of course the js_frame do

[2015-09-03 08:57] JerryBels commented on #194
Okay, made some progress. I can get rid of the error by changing xhr_watcher function from this :

    var win = top.document.getElementById("js_frame").contentDocument.defaultView;

to this :

    var win = top.document.getElementById("js_frame") ? top.document.getElementById("js_frame").contentDocument.defaultView : window.opener.top.document.getElementById("js_frame").contentDocument.defaultVie

[2015-09-05 20:36] KartikTalwar commented on #194
As a clarification, when I say popup I do mean the new tab that opens. I am currently traveling but I can have a look at this on Tuesday when I get back. Are those the only changes you made? Can you push them in your fork of gmail.js?

[2015-09-06 01:07] JerryBels commented on #194
Sure : https://github.com/JerryBels/gmail.js

[2015-09-14 03:25] chanpory commented on #144
any updates on this?

[2015-09-24 08:12] r00tat commented on #69
Hi Karik,

I think it's still a good idea to include gmail.js in bower. If you want to bundle all required files in your extension it's hard to update them, if they are not in any repository. With bower you would be able to simply update your requirements with `bower update`

[2015-09-26 08:49] jimmaay commented on #144
Why not try and get the email information or ID's from DOM or wherever the information is held?

[2015-09-27 11:12] JerryBels commented on #194
@KartikTalwar , hey man, did you have time to take a little look at this issue ?

[2015-10-02 11:00] saintmac opened #196 "Make it work with inbox.google.com"
A lot of people are moving from gmail to inbox. If this library could provide functionality for both it would be great

[2015-10-08 15:32] danieltigse commented on #170
@kolczagy Great solution!! It Works! Thanks. This example should be in the documentation.

[2015-10-15 15:28] orrion opened #197 ""Send mail as...". Does gmail.js can handle it?"
Hi @KartikTalwar . As you know, Gmail has an option to add some additional accounts (that you own) so you can use them to send emails by still being logged in under your current Gmail account... Also user can specify POP settings to get emails for this specified additional account...

As I understand gmail.get.loggedin_accounts() will return only the list of Gmail accounts that user is signed in,

[2015-10-17 19:05] tahiryasin opened #198 "Unable to get email from Google docs page"
``` gmail.get.user_email() ```not working when I am on https://docs.google.com/ but it works fine when I open my gmail account.

Is there any way to access user email from Google docs page?

[2015-10-17 19:21] KartikTalwar commented on #198
@tahiryasin this extension will only work if the domain is gmail.com

[2015-10-17 19:21] #198 closed

[2015-10-26 10:45] JerryBels commented on #194
Hey !

I did solve the issue. Actually, any code placed in

    Gmail.observe.on("compose", function(compose, type) {

will work for NEWLY opened message windows. Windows that are already opened BEFORE gmail.js loads won't trigger the event - thus, nothing will happen.

To fix that in my code, I simply used

    var openedComposes = provider.dom.composes();
	for(var i = 0; i < openedComposes.lengt

[2015-10-26 10:45] #194 closed

[2015-10-28 03:07] AminaG opened #200 "Is it possibile to add some functions to the email from text box?"
I need to get notified when the user change the "mail from" select box.
I also need to be able to change it manually.

Where should I start to do that? or someone can help/

[2015-10-29 09:32] JerryBels opened #201 "Detect if user clicked the cancel button when sending a mail"
Hello !

    provider.observe.after('send_message')

allows us to detect when a mail is sent, and use this info to do... Whatever it is we do.

BUT there is an issue. This event triggers, even if the user clicks on the cancel button, thus not sending the mail ! He then proceed to change a little his email and send it again, and my program thinks he sent two.

Do you have any idea on how to solve t

[2015-10-29 13:26] SfayhiKarim opened #202 "get draftid with gmail.js"
Hello ,
I want to detect the id of the draft with gmail.js .
It's possible ?

Thanks .

[2015-10-29 18:57] KartikTalwar commented on #201
Hey @JerryBels would it be possible for you to clarify which cancel button is being pressed? I checked the observer by pressed the delete button on the draft but that didn't fire the event

[2015-10-29 19:02] KartikTalwar commented on #202
Hey @SfayhiKarim you can get the id by using the dom methods from the documentation:

[code]

[2015-10-29 19:02] #202 closed

[2015-10-29 19:22] KartikTalwar commented on #200
Hey @AminaG currently a observer for that specific action does not exist but you can use the `dom.compose` method to get and manipulate the information

Here is an example:

[code]

[2015-10-29 22:20] JerryBels commented on #201
Hey @KartikTalwar my friend :)

Actually, I may have poorly explained myself. I'm talking about the moment where you send an email, immediately after clicking the "send" button Gmail gives the ability to "view the message / cancel" for a few seconds. When "Cancel" il clicked the message isn't sent.

![Like that :](http://img15.hostingpics.net/pics/78031238a.png)

Sorry for french, though ^^

So I

[2015-10-29 22:35] KartikTalwar commented on #201
Ah, you mean the "undo send". If you try adding the first block to L607 and the second block L657, you should be able to detect and `on('undo_send')`

Map
[code]

Switch
[code]

[2015-10-30 08:03] SfayhiKarim commented on #202
thanks for your reply.

but I have this error whent i execute this code in the console :

Uncaught TypeError: gmail.dom.composes is not a function(…)

[2015-10-30 17:17] KartikTalwar commented on #202
@SfayhiKarim please take a look at https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate to see how to get gmail.js running inside gmail.

My example wasn't meant to be run verbatim and the `var gmail = Gmail()`

[2015-11-01 12:30] JiiBay commented on #201
That's something :) thanks ! I will try to see if it can fit in - I think yes, with minor adjusts to my API. Would you like me to update gmail.js + the doc in my fork and send a pull request ?

[2015-11-01 12:31] JerryBels commented on #201
That's something :) thanks ! I will try to see if it can fit in - I think yes, with minor adjusts to my API. Would you like me to update gmail.js + the doc in my fork and send a pull request ?

[2015-11-01 18:22] KartikTalwar commented on #201
If it works for you, a pr would be awesome!

[2015-11-02 09:27] SfayhiKarim commented on #202
Thanks @KartikTalwar.

I solved it by using "gmail.get.compose_ids()" .
:)

[2015-11-02 09:45] SfayhiKarim opened #203 "How to hide the compose"
hi,

I want to hide the compose when i click in the button "envoyer ultiérement" with gmail.js.

Thanks.

![boitemail](https://cloud.githubusercontent.com/assets/15380361/10878435/d5a3b9b2-814d-11e5-87fd-b52d92486319.png)

[2015-11-02 16:09] AminaG commented on #200
Thank you.

I am still not find out, how to do what I am trying.
What I am trying to do is this. I have two mail addresses (in one gmail
account):

private@gmail.com
myname@mycompany.com

I want, that every time I send message to someone at *@mycompany.com*, it
will automatically will change the FROM input box, to *myname@mycompany.com*

So, now I have two question:

1. How I can get notified abou

[2015-11-03 05:35] irtzaqc opened #204 "gmail.observe.before is not a function"
I'm trying to use the gmail.observe.before function but I keep getting the error Uncaught TypeError: gmail.observe.before is not a function. gmail.get.user_email() works fine, so I know that Gmail.js is okay. But why is observe.before giving me this error then?

[2015-11-03 05:40] KartikTalwar commented on #204
![screen shot 2015-11-03 at 12 39 44 am](https://cloud.githubusercontent.com/assets/461702/10901820/699300f4-81c3-11e5-8f1e-6a128ab06cec.png)

Working fine here. How are you using gmail.js?

[2015-11-03 05:41] irtzaqc commented on #204
apologies. I was using an older version of the gmail.js file.

[2015-11-03 05:41] #204 closed

[2015-11-03 05:41] irtzaqc commented on #204
apologies. I was using an older version of the gmail.js file.

[2015-11-03 18:15] KartikTalwar commented on #200
`dom.compose` gives you a dom representation of the compose window. Each compose object has access to these parameters https://github.com/KartikTalwar/gmail.js/blob/master/src/gmail.js#L2177-L2191

You can get the TO from `{dom_object}.to`. Everything else is standard dom manipulation in javascript

[2015-11-03 18:15] #200 closed

[2015-11-04 10:51] irtzaqc opened #205 "Pause send_message while awaiting event"
Is there someway that I can pause execution inside gmail.observe.before("send_message", function(){...}); ?
In before("send_message"), I create an event listener and I need the email to not be sent until the event listener gets the event, whose details I need to place in the email body.

Or alternatively, can I abort sending then await the event then resend from inside the method?

[2015-11-04 16:27] KartikTalwar commented on #205
To my knowledge, it is not possible to abort but when you use the `before()` observer, for sending email, the email will not be sent until the callback function in the observer is finished

[2015-11-04 16:40] irtzaqc commented on #205
I tried adding an event listener inside the callback function, but it executes after the call back has already finished execution. How would I stop the call back execution on the event listener?

[2015-11-07 03:18] KartikTalwar commented on #205
Currently the best solution I have is to make your functions run synchronously so that when the callback function gets called, everything that needs to happen takes place before the db returns

[2015-11-07 16:40] rajivseelam commented on #179
After a email is sent, Gmail says: "Your message has been sent. Undo View message"

If you observe for `#link_vsm` element, `param` attribute contains the email id.

I don't know how to do with this library.

[2015-11-08 23:54] brentkelly commented on #179
if that is the case you should be able to get the ``register`` method to create a new observer watching for that element (assuming a similar element doesn't get created at other times by the interface).

The DOM observers look for a specific class name, so you will want to see if there is a standard class name for that element or any other element injected into the DOM when the email has been sent

[2015-11-09 09:05] JiiBay commented on #179
Sure, it could be a very nice way to do it :)

I will probably give it a try. Although I managed to do it that way in the gmail.observe.after('send_message' event :

        var providerMsgId = 0;
		for(var i = 0; i < 10; i++) { // Type send
			if(     xhr[i]
				&& xhr[i][0]
				&& xhr[i][0][0] && xhr[i][0][0] == "mla"
				&& xhr[i][1]
				&& xhr[i][1][3] && typeof xhr[i][1][3] == "object"
				&&

[2015-11-09 09:28] JerryBels commented on #179
Sure, it could be a very nice way to do it :)

I will probably give it a try. Although I managed to do it that way in the gmail.observe.after('send_message' event :

        var providerMsgId = 0;
		for(var i = 0; i < 10; i++) { // Type send
			if(     xhr[i]
				&& xhr[i][0]
				&& xhr[i][0][0] && xhr[i][0][0] == "mla"
				&& xhr[i][1]
				&& xhr[i][1][3] && typeof xhr[i][1][3] == "object"
				&&

[2015-11-10 06:56] SfayhiKarim commented on #202
the solution is :
$(document).on('click', function(evt) {

     var compose_id;

      if ($(evt.target).is('[id="clone8"]'))
     {
         compose_id = $(evt.target).closest('.AD').find('.aoC').find("[name='draft']").val();

     }

     });

NB : clone8 is the id of the red button .

[2015-11-12 09:55] SfayhiKarim opened #206 "Uncaught TypeError: gmail.observe.register is not a function"
Hello ,

When i execute this function

[code]

I have this error :
Uncaught TypeError: gmail.observe.register is not a function

what is the problem ?
 thanks .

[2015-11-12 13:39] SfayhiKarim commented on #54
it work for me when i execute this code :

 gmail.observe.on('view_thread', function(obj) {
        console.log('view_thread', obj);

});

gmail.observe.after("send_message", function(url, body, data, response, xhr) {
  console.log( 'xhr', xhr.xhrResponse[1][1][3][0]);
});

[2015-11-12 13:54] JerryBels commented on #54
@SfayhiKarim thanks, we discussed the subject here : https://github.com/KartikTalwar/gmail.js/issues/179

[2015-11-12 22:11] rbpasker commented on #174
having the same problem. any ideas here?

Error in event handler for extension.onRequest: TypeError: Cannot read property 'GLOBALS' of null

[2015-11-13 12:03] Aminadav opened #208 "Why there is no gmail.set.search_query (you have get/)"

[2015-11-13 23:07] rbpasker commented on #174
ok, i figured out what the problem is. you can't put gmail.js in a content page. it has to be injected into the gmail page itself: https://github.com/KartikTalwar/gmail.js/issues/36#issuecomment-36417505

[2015-11-19 06:14] KartikTalwar commented on #208
The goal of gmail.js was to only focus on get methods so that the focus of the library stayed at knowing when things happen vs manipulating the UI. For this specific case, if you'd like to make a PR and add the functionality, I'd be happy to merge it!

[2015-11-19 06:33] KartikTalwar commented on #206
@SfayhiKarim how are you using gmail.js? This error likely implies that gmail.js is not being loaded in gmail's dom. Please check out the boilerplate chrome extension in the readme to see a sample of how to install it

[2015-11-23 13:30] lievenjanssen opened #209 "before events replace %20 in + in xhrParams body"
This is due to the jquery $.param() implementation, see http://bugs.jquery.com/ticket/3400

Due to this behaviour there is a conflict between gmail.js and hubspot sidekick. (spaces are replaced by +'s in the email body)

I solved this by adding ```.replace(/\+/g, "%20")``` to this line:

[code]

@KartikTalwar if you want I can do a pull request on it?

[2015-11-23 18:03] KartikTalwar commented on #209
Sure, that'd be great!

[2015-11-26 23:41] #119 closed

[2015-11-30 18:09] yellow-beard commented on #197
1. is now provided by `gmail.dom.compose.from()`

e7c6deec6991a5bac25cda6a81fee05bfb158e91

[2015-12-02 11:40] Navega opened #211 "Possible bug in api.get.current_page()"
When the hash is, for example, #label/xxxx/123123b, the function "api.get.current_page() returns "null" correctly; but when the hash is #label/xxxx, it returns "null", and I think that it should return label/xxxx. Is that correct?

[2015-12-02 22:50] KartikTalwar commented on #211
@Navega yes, it is a bug. Fixing it in the next commit

[2015-12-02 22:51] #211 closed

[2015-12-03 12:33] Navega commented on #211
Thanks. But, one thing more. In the last commit I have problems to return the contents of an open mail. I Use this code and there are no problems. What do you think?

api.get.current_page = function() {
    var hash  = window.location.hash.split('#').pop().split('?').shift();
    if (hash.split("/").length>2){
      return null;
    }

    var pages = ['sent', 'inbox', 'starred', 'drafts', 'imp',

[2015-12-04 02:15] KartikTalwar commented on #211
If you are inside an email, the function will now return `email`

[2015-12-04 07:53] Navega commented on #211
Ok, thanks again. Before of your commit, I get the content of opened mail through "gmail.get.selected_emails_data()[0].last_email" and now it doesn't work, I meant that.

Certainly, the library is great! Thanks.

[2015-12-08 13:33] VaibhavJhunjhunwala commented on #134
var id = gmail.get.email_id(); is giving me 'null'. Please Help!

![untitled](https://cloud.githubusercontent.com/assets/8027334/11656909/5ecb9578-9dde-11e5-86ef-de6a9a8607f7.png)

[2015-12-08 13:39] VaibhavJhunjhunwala commented on #134
I want to get the URL of the attachment when an attachment is uploaded in the compose window and before sending the mail.
I was able to get the 'ik' parameter, but the gmail.get.email_id() returns null.

[2015-12-09 02:51] KartikTalwar commented on #134
@VaibhavJhunjhunwala are you running `get.email_id()` on the compose window? `email_id()` only works when an already sent email is in the view. To get information about the compose box, please see `dom.compose` related methods. If that does not resolve your problem, please create a new issue with details on what is visible on the screen

[2015-12-09 06:22] VaibhavJhunjhunwala opened #212 "Get the download URL of an attachment before sending a new email from the compose window"
![untitled](https://cloud.githubusercontent.com/assets/8027334/11680999/17cb7946-9e82-11e5-9920-8a07565446cc.png)
Temporary Link of the file that is attached in the compose window, during compose mail :

ui=2&ik=1a4d5636bc&view=att&th=151855ae74353ac0&attid=0.1&disp=safe&realattid=f_ihyf03z70&zw

Permanent Download Link of the file once that same compose email has been sent :

ui=2&ik=1a4d5636bc&v

[2015-12-09 06:25] VaibhavJhunjhunwala commented on #212
ui=2&ik=1a4d5636bc&view=att&th=151855ae74353ac0&attid=0.1&disp=safe&realattid=f_ihyf03z70&zw

I have been able to retrieve the values of the parameters 'ik', 'realattid' using the observe.on('upload_attachment') callback. But there is no trace of retrieving the value of the parameter 'th'.

NOTE : The 'th' value of the download URL of the attachement changes once we send the same email. Rest all p

[2015-12-09 06:26] VaibhavJhunjhunwala commented on #134
@KartikTalwar I've raised a new issue about it. Please check it.

https://github.com/KartikTalwar/gmail.js/issues/212

[2015-12-09 12:56] walty8 opened #213 "add local scope of 'var' for iterator"
hi,

As advised by Firefox Reviewer, in line 49 of `gmail.js` (inside `api.get.loggedin_accounts`),

`for(i in data[1]) {`

better changed to

`for(var i in data[1]) {`

thanks

[2015-12-09 20:07] KartikTalwar commented on #213
Thanks for pointing that out, would you like to submit a pull request? I believe you should get the credit in the fix/git history

[2015-12-10 20:10] sbrudz opened #215 "Work-arounds for on 'compose' not being called fast enough?"
I've developed a Chrome extension based on the [boilerplate](https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate) that uses Gmail.js to highlight text in the compose window.  In general it works well, but we've had some users report that the plugin doesn't work.

After further investigation, we found that these users had refreshed the page and then clicked the 'Compose' button befor

[2015-12-10 21:38] brentkelly commented on #215
Hi Steve - I've tried to make this happen on my implementation & can't make an error occur. I've tried:

  * Reloading the interface & clicking the compose button the moment it becomes visible.
  * Reloading the interface & pressing 'c' multiple times as it loads
  * Creating a compose window & then reloading the interface so it pops up with one

In all instances the observer fires for me.

The on

[2015-12-10 21:41] brentkelly commented on #215
FYI the way the observer works is the first time you register any DOM related event, gmail.js then observers every element being injected into the DOM .. in this case watching for the appropriate elements for a compose window appearing.

With that in mind, if your app were to not call your ``gmail.observe.on('compose', ...);`` as soon as the script loads, that could potentially cause some kind of

[2015-12-11 03:18] sbrudz commented on #215
Hi @brentkelly, thanks for the fast response!  gmail.js is local and `gmail.observe.on('compose', ...)` is one of the first things called.

I think I may have found the problem.  Inspired by your comment about "your script is not loading before the interface has managed to completely load", I put some console.log statements in to see what was happening during the load process.

I've been using thi

[2015-12-11 06:27] gberger opened #216 "get.visible_emails_async throws when inside email"
[code]

Workaround: use `check.is_inside_email` before calling `get.visible_emails_async`

[2015-12-11 06:32] gberger opened #217 "How to get total number of emails in inbox?"
`get.visible_emails` and `get.unread_emails()` provide similar functionality, but not what I need.

I need the number next to the navigation arrows.

[2015-12-14 14:38] sbrudz commented on #215
FYI for others who might hit this problem:  I found that I needed to add checks to my refresh method to make sure that other key objects have been loaded (e.g., window.jQuery === undefined) or else I'd see sporadic failures.

Thanks again for the help, @brentkelly !

[2015-12-14 14:38] #215 closed

[2015-12-16 15:52] orrion commented on #197
@yellow-beard Thanks for the response. It will help me to get the 'from' value from the compose window.
Regarding item 2:
I managed to get the receiver email address by parsing the email headers (from email source). In case when email was sent to one of the pop accounts there would be 'X-Gmail-Fetch-Info:' header present inside the email source. This field contains the information about the pop ac

[2015-12-16 15:52] #197 closed

[2015-12-18 15:49] sbrudz opened #218 "gmail.js throws errors when installed with SalesforceIQ Chrome Extension"
When both a gmail.js Chrome Extension that listens for DOM events and the SalesforceIQ Chrome Extension are installed, gmail.js's `api.tools.insertion_observer` throws many errors.

Steps to reproduce:

1. Install the [Salesforce IQ Chrome Extension](https://chrome.google.com/webstore/detail/salesforceiq/cnkgdfnjmgamkcpjdljdncfjcegpgcdg?hl=en-US)
1. Clone the [gmail.js Chrome Extension Boilerplate

[2015-12-22 05:16] #218 closed

[2015-12-28 05:52] aghamohammadi opened #221 "hi, how get current dom compose in before sent_message action?"
hi, how get current dom compose in before sent_message action?
i will get current dom compose in :

gmail.observe.before('send_message'function(url, body, data, xhr){

currentDomCompose= ????????

});

[2015-12-28 10:16] brentkelly commented on #221
The send_message observer doesn't use the DOM to fire, so this method doesn't provide access to the DOM compose object. I haven't tested it, but chances are the DOM compose object has been destroyed by the time this observer fires.

The ``send_message`` observer fires when Gmail client side communicates with the server via ``XMLHttpRequest`` so ``before`` will fire directly prior to this request b

[2015-12-28 13:25] aghamohammadi commented on #221
thanks for reply

in realy i want to change body content befor sending email. i using this link https://github.com/KartikTalwar/gmail.js/issues/170 and change body content and too changed in console log  but after send dont change body content!
please help me!

this my source code :

            var result ='my content';
            gmail.observe.before('send_message', function (url, body, data, x

[2015-12-28 22:52] aghamohammadi commented on #221
for example, virtru extention
how do you do this? first,finished processing then sending happen!
by gmail.js is possible??
in realy many peaple want do this solution!

[2015-12-29 01:13] brentkelly commented on #221
Reading through the other threads related to this issue, there is no point in updating the ``url.cmml`` parameter, as the URL has already been passed at this point.

If you want this functionality to work, you will need to either implement the ``before_open`` observer discussed in #90 into gmail.js, or try a similar solution to the one @keven425 used in that thread.

[2016-01-02 05:39] KartikTalwar commented on #211
@Navega sorry I missed this comment, a new pr was merged that handled this bug. Thanks for pointing it out!

[2016-01-02 05:43] KartikTalwar commented on #216
Hey @gberger a PR was merged that handles this. If its still an issue for you, you can pull the recent version. Otherwise, thanks for originally reporting it!

[2016-01-02 05:46] KartikTalwar commented on #217
I haven't tied to look total number of emails inside any JS variable yet but for any given page (main inbox view, labels, search, etc), you can get the total amount of emails from this DOM field

[code]

[2016-01-02 05:55] KartikTalwar commented on #217
Looks like this exists in the `VIEW_DATA` variable so you should be able to access it via:

[code]

[2016-01-02 05:55] #217 closed

[2016-01-02 05:55] #216 closed

[2016-01-02 05:55] #213 closed

[2016-01-04 10:50] itsazzad opened #223 "using grunt on gmail.js throwing so many errors."
line 8    col 41    Strings must use singlequote.
  line 10   col 43    Strings must use singlequote.
  line 27   col 32    Strings must use singlequote.
  line 29   col 0     Identifier 'view_data' is not in camel case.
  line 30   col 55    Strings must use singlequote.
  line 34   col 0     Identifier 'last_active' is not in camel case.
  line 39   col 0     Identifier 'mac_address' is not in c

[2016-01-04 14:47] KartikTalwar commented on #223
Hi @itsazzad, most of the library code does not follow JS conventions, therefore grunt and other tooling libraries will show these errors. I currently do not have any plans to address these issues. Hope you understand

[2016-01-04 14:47] #223 closed

[2016-01-04 22:42] itsazzad opened #224 "Add new tab in the heading tablist"
Is there any way to add new tab in the heading tablist out of the scope of the categories?
example: if I want to add a new tab named "Issues" and I want to write any html in that tabpanel.
Any hint would be a great help.
![screen shot 2016-01-05 at 4 38 16 am](https://cloud.githubusercontent.com/assets/54909/12102635/4bf7b970-b366-11e5-9a87-2570c008768d.png)

[2016-01-06 13:53] itsazzad opened #226 "Maximum call stack size exceeded"
Using observer `gmail.observe.on` throwing error. `Retry now` also not working.
Only DOM observers are not throwing any error.

[code]

![screen shot 2016-01-06 at 7 51 54 pm](https://cloud.githubusercontent.com/assets/54909/12144005/0400a1f0-b4af-11e5-812e-7b3c18a5fc9a.png)

[code]

![screen shot 2016-01-06 at 7 49 01 pm](https://cloud.githubusercontent.com/assets/54909/12144006/0bb15804-b4af-11e

[2016-01-06 17:36] KartikTalwar commented on #226
@itsazzad can you tell me:

- what the browser url is when you are running this
- what is the observe method being used
- what is your callback function
- what you are trying to do
- when does the error happen

An error like this does not make sense without any context on what you are doing. This seems highly dependent on your code and is therefore not reproducible without knowing everything that

[2016-01-06 17:46] KartikTalwar commented on #224
Unfortunately, this library intentionally does not contain many UI related functions because it is very hard to maintain with the constant changes in gmail. The best solution that I know to this is inspecting the elements and copying the html and inserting it in the dom.

So for this use-case, you would want to copy the `<td>` html and then use jquery to append that html into that table; something

[2016-01-06 21:25] itsazzad commented on #226
Thanks for asking the questions. Here are the answers:
Url: https://mail.google.com/mail/u/0/#inbox
Testing with all of the methods.
Using the default examples provided by you.
I am trying to add new tab in the tablist and will need to inject another external WooCommerce admin site using one iframe in the tab  and finally will need to communicate in between the injected site and the GMail UI durin

[2016-01-06 23:00] KartikTalwar commented on #226
Well, from what you described, gmail.js is being loaded into all the iframes in the page even though it should only load into the main window. `all_frames` is making the content scripts load in all the frames and when you call an observer method, all frames are running that code hence exceeding the depth.

In your content script you should check if the `window.location` is in fact gmail and only r

[2016-01-07 03:28] mrflibble57 commented on #162
I'm having the same issue, and it's not because there's no AJAX call as catmanjan has said. It seems like something isn't hooked in when you load gmail with an open email vs loading it via inbox.

gmail.observe.on("http_event", (obj) => {
                    console.log(obj);
                })

gmail.observe.on("open_email", , (obj) => {
                    console.log(obj);
                })

w

[2016-02-10 17:02] markon1 opened #231 "How to access body of reply/compose new email?"
I'm trying to access and fill body of message, if "compose new email" is opened then my extension should populate body of it with some text, and if it's not open, and an conversation is opened, my extension should populate the body of reply email.

What I don't know how to do, is how to access the div element in which message is input? It's id is changed each time I access gmail. I thought about u

[2016-02-10 17:34] KartikTalwar commented on #231
You should be able to access these properties for a dom compose method

https://github.com/KartikTalwar/gmail.js/blob/master/src/gmail.js#L2277-L2292

doing `.body` will give you the content

[2016-02-10 17:34] #231 closed

[2016-02-10 19:01] markon1 commented on #231
I don't think I understand this code, can you give me the line of code which selects the body of message (both for compose new and reply), like this pseudo code:

document.getElementByWhatever('divforenteringmessage').innerHTML = "mytext";

[2016-02-10 20:04] shaharpan opened #232 "Can I send multiple email on 'before send' condition?"
I am trying to make email tracking extension using this script. And its working great. Thanks for gmail.js. :)
So what basically I am doing is adding pixel image just before sending email. but issue is when there is multiple "to", I have only 1 pixel to send to all "to"s. So when any of the recipient open email. I cant tell exactly who opened the mail. (PS: Each pixel is unique and I get the uniqu

[2016-02-12 16:46] lievenjanssen opened #234 "open_email does not trigger when going through "Your message has been sent. View message""
When you send an email, following message appears:

![image](https://cloud.githubusercontent.com/assets/958643/13013626/7cd708bc-d1b0-11e5-8fb9-1a2c35b5650f.png)

When clicking on 'View message' the email thread is opened but the open_email trigger is not triggered.

Any workaround, solution for this?

[2016-02-12 20:06] #209 closed

[2016-02-16 12:31] WimRoose opened #235 "api.get.current_page returns wrong value"
Hi

I'm working on an extension that migrates e-mail messages to a google group, using api.get.selected_emails_data method. I've noticed that it uses a faulty URL to get the id's when not in inbox, because  api.get.current_page() returns only 'label', and not 'label/<label>'.

Quick fix could be

page = hash.join("/");

in stead of current

if($.inArray(hash[0], pages) > -1) {
      page = hash[0]

[2016-02-16 19:27] KartikTalwar commented on #235
Hi @WimRoose could you clarify this a bit further? The goal of the current page is to return the type of the given view. In that context, `label` is the group, instead of `label/`. I would be interested in knowing how this affects your usecase

[2016-02-17 05:31] KartikTalwar commented on #234
hey @lievenjanssen can you try making the following change and see if it works:

change the last check to `params.url.rid != undefined` from the following line:

https://github.com/KartikTalwar/gmail.js/blob/master/src/gmail.js#L771

I think this should work for both cases. let me know

[2016-02-17 10:56] WimRoose commented on #235
@KartikTalwar

For instance: select a label in inbox, check some e-mails, and then trying to get ID's of selected ones:

api.helper.get.visible_emails_pre() {
var page = api.get.current_page();
.....
if(page.indexOf('label/') == 0) {
      url += '&cat=' + page.split('/')[1] +'&search=cat';
.....
}
Problem is that current_page returns only type ("label" in this case), while api.helper.get.visible_

[2016-02-17 16:56] lievenjanssen commented on #234
@KartikTalwar this causes strange behaviour of the open_email trigger. Sometimes it's triggered, sometimes it isn't, sometimes it's triggered after a while, triggers an email open while no email is opened, ...

[2016-02-18 12:33] shaharpan opened #236 "Multiple compose not working"
When you have more than one compose window at time issues are coming.
gmail.js works only for one compose window. Am I doing something wrong here?
![1](https://cloud.githubusercontent.com/assets/14907693/13143489/4a075c48-d66a-11e5-9db0-a76d280ac28b.PNG)
![22](https://cloud.githubusercontent.com/assets/14907693/13143490/4a6fe72c-d66a-11e5-8249-8a5835dffee0.png)

[2016-02-18 12:48] #236 closed

[2016-02-18 12:49] KartikTalwar commented on #236
Can you post your code?

On Thu, Feb 18, 2016 at 4:33 AM -0800, "shaharpan" <notifications@github.com> wrote:

When you have more than one compose window at time. gmail.js works only for one compose window.

—
Reply to this email directly or view it on GitHub.

[2016-02-18 13:04] shaharpan commented on #236
var compose_ref = gmail.dom.composes()[0];
gmail.tools.add_compose_checkbox1(compose_ref,'checkbox','')
					gmail.tools.add_compose_checkbox(compose_ref,'checkbox',
					function(){
						console.log(email_link);
						var x = document.getElementById("saleshandy_crm_checkbox").checked;

						if(x==false)
						{
						$('#shtracking').remove();
						}
					    else
						{
						$( "<img id='sh

[2016-02-18 13:05] KartikTalwar commented on #236
Great!

On Thu, Feb 18, 2016 at 5:04 AM -0800, "shaharpan" <notifications@github.com> wrote:

var compose_ref = gmail.dom.composes()[0];

gmail.tools.add_compose_checkbox1(compose_ref,'checkbox','')

                    gmail.tools.add_compose_checkbox(compose_ref,'checkbox',

                    function(){

                        console.log(email_link);

                        var x = documen

[2016-02-18 13:07] shaharpan commented on #232
@KartikTalwar

[2016-02-18 13:11] KartikTalwar commented on #232
I don't think this is possible. If there are multiple recipients, it will
still be a single email through gmail. It is going to be very hard to
distinguish between who opened the email. You can possibly use the ip
address from the pixel to see if you can distinguish the email address
ᐧ

[2016-02-18 13:13] shaharpan commented on #232
https://mixmax.com/pricing/
In starter pack this guys are doing it. And I have investigated they send multiple pixel once you hit send.

[2016-02-23 10:08] irtzaqc opened #237 "Email not sending"
Im using the latest version of Gmail.js in a firefox addon Im working on. In the addon, I use  gmail.tools.add_compose_button() to add a compose button, and in its on click I have the following two lines
[code]
where `replaced_compose` is the current compose window. With the previous versions of Gmail.js it worked fine, now it closes the compose window and the  "sending" tag is visible above but t

[2016-02-25 13:56] itsazzad commented on #21
`gmail.observe.http_requests()` worked for me.
But can you please state that the order ASC or DESC?

[2016-02-25 19:40] KartikTalwar commented on #21
The order is reverse chronological - the first entry will be the lastest http request

[2016-02-29 09:06] JerryBels opened #238 "Email from new window not sent when observe.before or observe.after for send_message is defined"
Hey guys, hey @KartikTalwar friend :)

So, continuing to work on my Chrome extension, I felt upon that issue. When you use a compose window in a new window (either by clicking on a mail adress sent to you in a previous mail, or by ctrl+clic on "New Message") and then try to send the mail, a very strange behavior shows up...

IF and only IF you have defined something like

    gmail.observe.before(

[2016-03-01 19:04] KartikTalwar commented on #238
hey @JerryBels I'm pretty occupied until next Monday but if I get time between then I can take a look at it, otherwise will be looking into this next week

[2016-03-01 19:26] JerryBels commented on #238
No rush buddy, don't worry, take your time :)

[2016-03-03 19:31] icem opened #240 "Can gmail.js become an npm package?"

[2016-03-04 04:13] KartikTalwar commented on #240
It probably can. If the goal is to just have the latest version be available from npm then it can exist in the registry but since this isn't a node library and only works in chrome as a chrome extension, and has only 1 dependency, imo doesn't provide a great benefit to be on npm.

Is there a reason why you are curious?

[2016-03-04 14:44] shaharpan commented on #179
Did anyone got solution for this?

[2016-03-04 15:59] icem commented on #240
@KartikTalwar Yes the goal to have the latest version as npm dependency for easy update. I don't like the idea of copyting gmail.js to my extension code. Referencing it directly from github or your s3 is even worse idea. The only good solution is distribute via bower or npm. Also gmail.js could have dependency on jquery. https://github.com/jquery/jquery

[2016-03-05 21:45] JerryBels commented on #179
@shaharpan I gave my solution, if you wanted something more reliable I haven't worked on anything more yet.

[2016-03-10 08:49] #237 closed

[2016-03-10 13:41] bhaveshvaghela32 opened #241 "How to get compose id ?"
I am trying to make email tracking extension using this script,I need a button on every compose window,when the button is clicked it will open popup window with some content,but problem is that it works on single compose box but not work on when multi compose box is opened.please check attachment

![gmailll](https://cloud.githubusercontent.com/assets/2259675/13671020/657d6924-e6f3-11e5-8b39-5c2645

[2016-03-10 16:43] KartikTalwar commented on #241
Please see https://github.com/KartikTalwar/gmail.js/issues/202

You can also search previous issues for more examples

[2016-03-10 16:43] #241 closed

[2016-03-10 18:54] jsnelgro opened #242 "gmail.observe.after 'http_event' causing hangouts and gmail to crash"
toggling this listener reliably causes the error.

[2016-03-10 18:59] KartikTalwar commented on #242
@jsnelgro would it be possible to know how to reproduce this. Your chrome extension manifest should not be inserting gmail.js into any other domain other than mail.google.com but simply having the observer on in gmail should not be crashing it.

[2016-03-10 19:38] jsnelgro commented on #242
@KartikTalwar this doesn't reproduce it, but is the basic gist of what I'm doing:

extension app.js
[code]

gmailjs-handler.js
[code]

It must be something in combination with the rest of my app, but not using this listener has been a reliable fix.

[2016-03-11 03:51] khulas18 commented on #242
We are also having same issue regarding this one.
We notice that it happens when the xhr request failed.
In our project we were doing sending multiple emails at the same time on backend. During that time when our extension is installed. and we observe on http_event, the gmail will crash.
The last request on network log has a status of 503. Tried doing it multiple times to make sure if its always t

[2016-03-11 09:25] lievenjanssen commented on #234
@KartikTalwar any other suggestions?

[2016-03-11 13:33] bhaveshvaghela32 commented on #241
unfortunately it is not working for me,what i have done to append in gmail.js file as below

     api.tools.add_compose_button =  function(composeWindow, content_html, onClickFunction,    styleClass) {

    var button = $(document.createElement('div'));
    var buttonClasses = 'T-I J-J5-Ji aoO L3 ';
    if(styleClass != undefined){
      buttonClasses += styleClass;
    }
    button.attr('class',

[2016-03-11 15:23] sommerwilken commented on #240
And it could be included more easily via module loader (import gmailjs from 'gmailjs'; or similar;
Right now, if importing as module, there are various issues with globals, i.e.: windows.opener

[2016-03-13 21:06] #240 closed

[2016-03-13 21:31] #235 closed

[2016-03-13 22:47] KartikTalwar commented on #242
hey @jsnelgro and @khulas18 could you try to make the following change and see if that fixes it for you?

for `api.tools.parse_response`

[code]

[2016-03-13 22:49] KartikTalwar commented on #242
I git cloned https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate and updated `gmail.js` file to the latest version. Using that and pasting the following code in the console, did not crash it for me

[code]

[2016-03-13 23:18] KartikTalwar commented on #234
@lievenjanssen if you try pasting this after the `open_email` if statement in the `parse_actions` function, it seems to work for me. Sadly when I test it here, occasionally it triggers twice after clicking "view message"

[code]

[2016-03-13 23:21] KartikTalwar commented on #241
I unfortunately do not have enough time at the moment to look into this but you can somehow use the `get.current_page()` to see if you are inside an email and try to find the dom yourself instead of relying on the library. That is the best I can help you out with. Sorry!

[2016-03-14 06:10] amidave opened #243 "Uncaught ReferenceError: Gmail is not defined"
For below line of code, the error is thrown: "Uncaught ReferenceError: Gmail is not defined"  :--
var gmail = Gmail();

Kindly provide me solution ASAP

[2016-03-14 06:19] KartikTalwar commented on #243
How are you using this? I would recommend that you use the following sample chrome extension to get the example up and running https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate

[2016-03-14 07:22] amidave commented on #243
Hello Kartik,
Thank you so much for prompt response.
And You have built a great thing "Gmail.js".Congratulations from Me & My team. Proud to be an Indian.
Would like to keep in touch with you. Thanks once again !
-Ami

[2016-03-14 08:54] icem commented on #240
:+1:

[2016-03-14 19:27] #243 closed

[2016-03-15 11:29] michi88 commented on #242
I'm seeing the same behaviour and I suspect `gmail.observe.on('show_newly_arrived_message', ... `. Disabled that listener now to see if gmail keeps crashing. Also updated gmail.js from  d7f4159a22bbcc175d8db3f0fb41dbb8eadce62c to 549da3acedbc67c2b6b5132c244bf0692342f21f

[2016-03-15 16:55] michi88 commented on #242
removing `gmail.observe.on('show_newly_arrived_message'` did not help for me. What I did notice is that it happens when I click the notification of a newly arrived message and it opens in a popup (not the full browser window). You'll have to enable desktop notification as described here: https://support.google.com/mail/answer/1075549?hl=en to get the notification.

If you want to try our extension

[2016-03-16 15:22] michi88 commented on #242
I narrowed it down to being a problem ONLY when a thread (or email) is opened in a popup. Try clicking the 'In new window' button next to the 'Print all' in the top right of the thread.

I'm suspecting differences in the security policies of the window but have no proof.

For now i'm disabling the plugin for popups by not inserting the scripts in the content script using:
[code]
What is quite inte

[2016-03-22 19:35] danieltigse opened #246 "Error on loggedin_accounts function"
This is the error

[code]

[2016-03-31 11:14] aesedepece commented on #242
This issue is also breaking Stampery's gmail plugin.

When clicking on a desktop notification or opening a thread in a new window, the following error #009 appears:

https://trello-attachments.s3.amazonaws.com/56f9182cac7e43b6b0ad2775/1104x92/c6587e7a57d1e9a386fba49e5ec1d00a/Screen_Shot_2016-03-29_at_10.07.14_AM.png

[2016-04-04 13:37] nwaarbroek commented on #238
We have the same issue. We try to observe multiple events but when sending an email from a new window it results in not responding interface or even worse. Gmail gives a message: "Ooops... the system encountered a problem. (#009) - Retrying in ... Look like this issue is a bit bigger then just the observer 'send_message'.

[2016-04-07 09:15] aesedepece commented on #242
I believe this issue is the same as #238

[2016-04-08 00:39] joydesigner opened #247 "visible_emails thread limitations"
Hi,

gmail.get.visible_emails returns a maximum of 45 threads. Usually, gmail inbox view contains 50 emails per page.

Has anyone encountered similar issue? is there any workaround for this?

[2016-04-08 15:31] joydesigner commented on #247
Fixed. the url param for the request for inbox currently is "mbox", for enterprise gmail inbox, it should be "inbox".

[2016-04-10 15:47] shaharpan commented on #179
Hey @JerryBels ,
I tried your solution always getting 0. its never going into if block. Any solutions?

[2016-04-10 15:51] JerryBels commented on #179
Try to take the xhr variable, print it and explore it. Find the Id of the mail that has been sent, and then see what are the parents of it - if it doesn't look like the path I gave, then you know what to do, find the good path and add it to the if block.

If you do find out there is an issue like that, it would be great if you could come back here and share what path are working for you - also, if

[2016-04-10 15:53] JerryBels commented on #238
@aesedepece I don't know if it's the same bug, but it's possible :)

@KartikTalwar hello my friend, did you have time to look into it ? I tried but drown fast enough ^^

[2016-04-10 16:59] shaharpan commented on #179
xhr.response gives ID we are looking for. not sure it will work in all scenarios or not but matching with regex is giving me results.

[2016-04-10 17:28] shaharpan commented on #238
To solve this I have implemented this(It will stop from crashing but not solve the issue):
if (window.opener && window.opener !== window) {
  //fix for when in popup
} else {
//add scripts or whatever you are doing
}

[2016-04-12 09:32] jocstar opened #248 "Getting email details from folders other than Inbox"
Is this library intended to restrict you just to the inbox, or should you be able to fetch mail details from other folders?
Calling some of the get methods from a folder other than the inbox fail because the is_inside_email check prevents it,
e.g. calling api.get.email_id, api.get.email_ids or api.get.email_data all fail if called from the sent items.
If I remove some of the checks, it does appear

[2016-04-12 10:53] shahidt opened #249 "Observer events don't trigger when expanding past conversation emails"
Let's say there are 7-8 replies in an email conversation thread. I can click on the grey area to expand a past email in that thread, but there is no observer events triggering when I do so. I set 'on' and 'after' observer events for everything available, but none of them triggered when I open a past hidden email, within a conversation.

What even is ideally supposed to trigger here.

[2016-04-19 18:24] tayre opened #250 "Get cursor position during compose?"
Is it possible to get the current position (similar to `selectionStart` and `selectionEnd` of a textarea) of a compose body?

[2016-04-20 00:54] brentkelly commented on #249
If you have a `view_thread` observer bound, then you can bind a `view_email` observer which will fire when each individual email is clicked on.

There is no observer for when you click the 'show hidden' which expands the thread to show the rest of the conversation - but when the individual emails are expanded to read the `view_email` observer should fire fine (does for me).

[2016-04-20 13:33] shahidt commented on #249
I am not sure how to reproduce, but I think having the after() observer on certain events prevents some others from working. In my case, I changed all my observers to on() and the problem went away.

[2016-05-04 22:41] jameskerr commented on #196
@KartikTalwar is there any library like this for inbox.google.com?  This is an awesome tool by the way.

[2016-05-09 16:21] lievenjanssen opened #254 "view_email is only triggered once (not for each opened email in the thread)"
When I open an email thread view_email is only triggered once while I would expect it to trigger for each opened email in the thread.

I guess this is due to the dom that is still loading because the dom element on view_thread doesn't contain all open emails immediately as well.

p.s. I am trying to add buttons in the email toolbar for each open email but when opening a large thread from the sent

[2016-05-11 13:16] ronoudgenoeg commented on #254
I am having the same issue. I need to add a button to each email currently visible, but view_email is only giving me the latest, and view_thread doesn't give me enough to go off and insert buttons on.

[2016-05-11 16:58] brentkelly commented on #254
This is due to the way Gmail builds the DOM tree when initially opening a thread. It appears to initially build the whole thread on emails and then does one DOM insertion - so only 1 view_email action is observed even though there are other emails in the thread which may or may not be open.

I guess the view_email default handler could be updated to check the inserted node for any matching email c

[2016-05-11 17:17] lievenjanssen commented on #254
@brentkelly I solved it the same way in my code in the meantime. Think it would be good to fix this in the lib as well because it feels like a bug.

[2016-05-12 08:11] ronoudgenoeg commented on #254
I solved it the same way as well, but agree it feels like a bug.

[2016-05-12 22:38] danieltigse opened #255 "Cannot read property 'pop' of null"
I got this error:
gmail.js:2342 Uncaught TypeError: Cannot read property 'pop' of null

I write this quick fix:
[code]

[2016-05-12 23:57] brentkelly commented on #255
@danieltigse this has been caused by a gmail update to their DOM which affects where they store an email id. Your fix will solve the js error but still mean the email id is not known. I've released a fix for my app so will submit a pull request shortly.

[2016-05-14 06:35] keyur1110 commented on #16
I am creating a chrome extension to filter gmails when a new email is found but the function given below is not working.

`var main = function(){
    gmail = new Gmail();
    console.log('Hello,', gmail.get.user_email())
    filterapi = new Gmail_Filter_Api();
    filterapi.set_gmail_params();
    console.log("Filters set!");
    gmail.observe.on('new_email', function(obj) {
        var data = gma

[2016-05-14 06:37] keyur1110 opened #258 "gmail.js not working to create a chrome extension for gmail filter"
I am creating a chrome extension to filter gmails when a new email is found but the function given below is not working.

[code]

[2016-05-15 23:41] brentkelly commented on #258
@keyur1110 "is not working" is fairly vague.  Is it not running at all? Is it throwing an error, if so what error? Have you followed the boilerplate example and got that working first?

[2016-05-16 02:17] levis012 opened #259 "Gmail.js error: Cannot read property 'pop' of null"
i'm using gmail.js for my chrome extension but today: 5/16/2016 it not working.
When i check on dev tool i have found error:
Uncaught TypeError: Cannot read property 'pop' of null
api.dom.email

Image: http://i.imgur.com/EH0tl8J.png

Please help me!
Thanks

[2016-05-16 02:21] brentkelly commented on #259
@levis012 please look at other issues before posting new ones.

#255 is identical.
#256 & #257 should fix any issues.

[2016-05-16 02:21] #259 closed

[2016-05-16 02:22] #255 closed

[2016-05-16 02:24] levis012 commented on #259
Thanks for help.

[2016-05-19 20:14] markon1 opened #260 "Any way to fetch user's Canned Email Responses?"
Hi, I'm writing an Chrome Extension, and I'm looking to find a way to fetch all Canned Email Responses (it's an GMail feature that needs to be turned on through Settings>Labs and enables users to save predefined messages and then through compose window they can access them).

I couldn't find a method in your tool gmail.js, but I suppose someone could know a way around it maybe?

[2016-05-31 15:47] JerryBels commented on #238
So the issue is not solved yet. @KartikTalwar anything new from your side ?

[2016-06-01 04:54] aakankshabhujbal opened #263 "new_email event takes 2 minutes delay after new email receives"
I want to perform some operations as soon as new email receives in Inbox of Gmail. But new_email event is triggered after 2 minutes of email received. Is there any way we can remove this delay?

[2016-06-02 05:59] aakankshabhujbal commented on #238
@nwaarbroek I am facing same issue. Did you find any solution to this?

[2016-06-02 08:38] aakankshabhujbal commented on #263
@KartikTalwar

[2016-06-02 12:08] nwaarbroek commented on #238
We stripped down gmail.js to the basic needs we had. We could not point out
an exact location in the source where this issue occure so we decided to
strip down gmail.js and only keep the functionality we needed. We had a
working solution, but in the end we decided it's not stable enough to go in
production.

Met vriendelijke groet / with kind regards,

*Niek Waarbroek*
+31 6 16 790 968

On Thu, Ju

[2016-06-03 05:00] aakankshabhujbal commented on #164
Hi @lievenjanssen I am facing issue with new_email event. Firstly it triggers 2 minutes after the email is receives and secondly after getting new_email response it triggers again after 2 minutes for the same email. Did you face same problems?
@KartikTalwar

[2016-06-03 08:15] aakankshabhujbal opened #264 "Prevent compose box to close on Send button click"
Is it possible to not to close compose box on Send button click of compose box. I want to perform some operations before sending email on Send button click. I am able to stop email sending process on button click but couldn't stop compose box to close. If anybody knows please help me.

[2016-06-07 19:25] derekribbons opened #265 "Observe events when 2 Chrome plugins use Gmail.js cause Gmail to enter error mode"
Hello,

I've noticed that when the following code is executed by 2 extensions using gmail.js, Gmail will enter its "retry" error state after a couple clicks.

gmail.observe.on('open_email', function() {
    console.log("email opened");
});

Other functions work correctly, it seems to be tied to the observer code.  Have you seen this behavior before?  Any suggestions on ways to fix / work around it

[2016-06-08 08:30] mayurizingadeCL opened #267 "gmail.get.selected_emails_data() is not working for list of emails from custom folders and search page"
Hello,

I am getting bellow error from gmail.js, when I am in inbox and added some search criteria.(search page).

SyntaxError: expected expression, got '<'.

Findings :
I found, this method internally calls "visible_emails_pre" method.
In that I am getting url as "https://mail.google.com/mail/u/0/?ui=2&ik=6fdb4f9bc7&rid=mail%3Ase.3468.1.1&view=tl&start=0&num=120&rt=1&search=search". Its not worki

[2016-06-09 11:20] aakankshabhujbal commented on #238
Hi. I removed `gmail.observe.before('send_message',` form my code. But still I am getting same issue. Email sending still hangs. What is cause of this? @KartikTalwar Did you looked into this issue?

[2016-06-09 11:26] JerryBels commented on #238
@aakankshabhujbal I would say it's probably the case, yes. I guess the observers are broken on any popup window. It looks like @KartikTalwar don't have time for us these days, which is understandable - everyone has a real life to look after, right ? :) I'm sure he will eventually solve this when he has the time for it.

[2016-06-09 11:31] aakankshabhujbal commented on #238
@JerryBels I was debugging it from 2 days, just came to know that if I remove `observe.on("open_email"` from my code, email sent successfully. I think we need to dig into observers more. Are you still working on this issue?

[2016-06-09 11:35] JerryBels commented on #265
Hum... It could be linked to the error I opened here : https://github.com/KartikTalwar/gmail.js/issues/238
which makes me think, maybe the error I reported there is not the root of the issue. Combining with your reported issue, it may be simply that observers in general are trigerring errors in Gmail when there is 2 of them on the same event !

[2016-06-09 11:36] JerryBels commented on #238
@aakankshabhujbal I will but only in 2 or 3 weeks. I hope the Grand Master of that repos will show up and solve it before though ^^

[2016-06-09 12:36] JerryBels commented on #232
@shaharpan I installed their extension just to test but as you said, this multiple identification is available only for paid (starter) plans, so I can't check it by myself. The thing I can see is that when I send a mail, there is only one mail sent in my "sent emails" list (so no different mail sent to each person) with a tracker in it - if I'm not wrong the same tracker seems to be sent to both t

[2016-06-09 16:52] derekribbons commented on #265
Thanks for the reply Jerry,

We had a similar issue in our plugin a while back, so I broke our init up to a once and an always section.  Since we inject a full page into gmail based on different events, the observers would fail, I moved them into the once and everything else into the always piece of our init and things were happy.  Then another group deployed a plugin using Gmail.js (we don't have

[2016-06-09 19:22] shaharpan commented on #232
@JerryBels : Nop they have only 1 email in sent emails, but on the receiving end all have different tracking code.
PS: You can invite few people or dummy emails to get starter pack to try it out. I was just getting started so I haven't investigated much after it.

[2016-06-09 20:28] JeroenCorthout commented on #232
They send a different email to every person, but fake in the header that
the email is also sent to the others.

In the sent items they probably post yet another email using the API.

Question remains: can you arrange this with Gmail.js?

Co-Founder
+32 499 21 77 82
salesflare.com
On Jun 9, 2016 9:23 PM, "shaharpan" <notifications@github.com> wrote:

[2016-06-09 21:06] shaharpan commented on #232
@JeroenCorthout : As far as I can understand I don't think Gmail.js can manipulate headers. Also  are you sure they are sending multiple emails and faking headers, . Also I would love to learn how headers can be manipulated with API.

[2016-06-09 21:20] KartikTalwar commented on #232
Hey everyone, sorry for the long absence. I'll be able to start looking at all open issues and PRs starting Monday

[2016-06-10 07:15] JeroenCorthout commented on #232
I'm not sure, but that's how it looks. Just try it for yourself: send one
email to two people, ask them to send you the original message ("Show
original" in Gmail). You'll see that it's different emails to each person,
but with the same header in terms of to, cc, etc..

Co-Founder
+32 499 21 77 82
salesflare.com
<http://llink.to/s?u=http://salesflare.com&e=48ed6e5d837775fca3cccff01e5025a9>

📰 here

[2016-06-10 11:41] mayurizingadeCL opened #269 "Issue in gmail.get.selected_emails_data() in pagination"
Hello,

When I check any email from list, I am getting email details for first page correctly.

But Using pagination, when I am hitting older email button (">")to get older emails i.e. from 51:100, If I select 5th email from 51:100, I should get details of 55th email but I am getting details of 5th email i.e. email details of 5th email from first page though I am on older email page.

Please let m

[2016-06-10 11:42] mayurizingadeCL commented on #267
Thanks,
It worked.

[2016-06-12 03:28] foligny opened #270 "TypeError: Cannot read property 'GLOBALS' of null"
I got a GLOBAL error ! ;)
Well it`s the first time I try it, I might have setup things not correctly.
I get this error. Any idea if it's my fault or not?
On Chrome version 51.0.2704.84 m
![gmail js-error-global](https://cloud.githubusercontent.com/assets/7926543/15988809/2c6e5274-302c-11e6-988b-6283af1da99a.png)

[2016-06-12 03:33] foligny commented on #270
BTW you know you don't need to test both
`typeof window.opener != 'undefined' && window.opener != null`
since you use != and not !==
Just
`window.opener != null`
Tests for both undefined and null
Check out my blog on the most common JS errors : http://tech.yipp.ca/node-js/most-common-javascripts-errors-not-to-do/

[2016-06-12 03:56] foligny commented on #270
Actually I'm probably not using it correctly because
`var email = gmail.get.user_email();`
returns undefined
Any idea why it could fail ?

[2016-06-13 14:02] JerryBels commented on #232
@JeroenCorthout hey, I just tried this, sent an email to two of my email accounts, and the tracker in it is exactly the same. No difference ! So I still don't get how they could identify which person opened the email.

@KartikTalwar that's a great news ! We need you badly :)

[2016-06-13 14:05] JerryBels commented on #270
Hey, have you used https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate ? If not I strongly advise you to take a look at it.

[2016-06-13 14:09] shaharpan commented on #232
@JerryBels : Nop buddy. I also tried mixmax what I came to know is they use gmail HTTP Rest API. In sent there will be pixel for first id(mostly they are deleting multiple sent with API), but when I checked in other accounts there are diff tracking code/pixel.

[2016-06-13 14:14] JeroenCorthout commented on #232
@shaharpan That sounds like a logical way of going about it. Only thing we need to be able to do is send multiple emails on 'before send' (and not send the original email of course, just add it to 'sent items').

[2016-06-13 16:05] dft034 opened #272 "Cannot use get.email_data() in #label or #search."
I can't use get.email_data() ( or get.displayed_email_data() ) in #label or #search, but only when I arrive from #inbox. The function give me nothing.

How can I have the same result in #label and #search ?

Thanks

[2016-06-15 03:57] foligny commented on #270
Hi, thanks for the quick followup !
Yes I had seen it and had originally built my manifest.json based on it.
But trying it out by itself did help me find out what was wrong by getting one project with the boilerplate and add-in my code little by little until it breaks. It turns out it was because I was using **scriptTagContext.js** which injects all new script in a different execution environment

[2016-06-16 03:48] foligny opened #273 "Uncaught TypeError: Cannot read property 'pop' of null"
![gmail js-error-pop](https://cloud.githubusercontent.com/assets/7926543/16104881/08d1c254-3353-11e6-94a3-9598ac2f5510.png)

Upon inspecting, class value is "ii gt". There is not enough safety checks in the code. What happens if google changes the DOM? It's a third-party, no guarantee.

I made a fix in a pull-request to prevent the exception but someone more knowledgeable about the library and nor

[2016-06-16 08:10] r00tat commented on #69
BTW: I found a workaround:

If you add the raw link to the bower dependencies, it will automatically download the latest version and deploy it to gmail/index.js:

[code]

[2016-06-16 12:33] VirendraNaruka opened #274 "how to inject gmail.js direct in contentscript.js"
manifest.json
=-=======================
"content_scripts": [
        {
            "all_frames": true,
            "css": [ "css/gab.css" ],
            "js": ["js/jquery-1.10.2.min.js","js/content.js"],
            "matches": [ "https://mail.google.com/mail/*" ],
            "run_at": "document_end"
        }
    ],
#
# Content Script Code is like

var g = document.createElement('script');
g.src

[2016-06-17 03:42] VirendraNaruka commented on #274
Anybody can help help. Its urgent and I m waiting to get it resolve ASAP

[2016-06-17 17:00] KartikTalwar commented on #274
Have you tried using the boilerplate from the readme?

On Thu, Jun 16, 2016 at 8:42 PM -0700, "VirendraNaruka" <notifications@github.com> wrote:

Anybody can help help. Its urgent and I m waiting to get it resolve ASAP

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-19 09:20] JerryBels commented on #274
As @KartikTalwar said, use the boilerplate, it will help you a lot.

[2016-06-20 01:36] #273 closed

[2016-06-20 01:37] #270 closed

[2016-06-22 20:26] blind76 opened #275 "Observe not working"
Hi

I'm using gmail.js in chrome extension and most of observers not working. 'view_thread' works but other doesn't. I need to trig some function when inbox is open so I tried few observers () and every time I get "    //if api.dom.email called with invalid element/id"

[2016-06-23 14:28] shaharpan commented on #250
Any solutions to this?

[2016-06-24 12:17] nmarques-ext-delfingen opened #276 "On before_send, add a attachment in mail ?"
Hi,

I was wondering if there was a way to attach a file before sending a composing mail ?

[2016-06-24 14:36] mayurizingadeCL opened #277 "Gmail mbox always giving 144 records"
Hello,

I want runtime list of emails from inbox(primary tab) using gmail.js.
I found below url is used to get list of emails in gmail.js.

"https://mail.google.com/mail/u/0/?ui=2&ik=6fdb4f9bc7&rid=undefined&at=AF6bupNbYX1fL4ns44UY0GRaG3PQOJ1Kmg&view=tl&rt=1&start=**0**&num=**50**&search=inbox"

For other folders when I am setting up start and num runtime, Its working fine.
But for inbox primary t

[2016-06-24 20:29] stevelow1983 commented on #250
+1

[2016-06-25 10:56] mayurizingadeCL commented on #277
Please update the url in above issue as

"https://mail.google.com/mail/u/0/?ui=2&ik=6fdb4f9bc7&rid=undefined&at=AF6bupNbYX1fL4ns44UY0GRaG3PQOJ1Kmg&view=tl&rt=1&start=**0**&num=**50**&search=mbox"

[2016-06-27 08:32] eduard9x opened #278 "Failed to load resource: the server responded with a status of 401 ()"
After I created the Chrome extension using this JS framework, it gives me the following error in the console.

<img width="662" alt="screen shot 2016-06-27 at 09 25 47" src="https://cloud.githubusercontent.com/assets/11529360/16373404/fb8e7740-3c49-11e6-8af6-f1128e4eb76c.png">

The link goes to this json:

{
 "error": {
  "errors": [
   {
    "domain": "global",
    "reason": "required",
    "mess

[2016-06-29 23:57] justphofun opened #279 "No action for switching between preview/non-preview"
Is it possible to use gmail.observe.on to handle when users have preview mode on and switch between the three option: "no split, vertical, horizontal"?

[2016-06-30 02:34] #279 closed

[2016-07-07 07:57] djacobow commented on #274
The boilerplate example works through script injection. The OP asked how he can get gmail.js to run in a content script. If I understand the comments in the README, the answer is it can't.

This has complications. For example, in Chrome, you can use sendMessage to communicate between your content script and your background script. sendMessage AFAICT does not work between the site script and the ba

[2016-07-07 14:59] jonathanalbangoodman commented on #274
Having this issue too. Using `postMessage` between the content script and web page to run various functions in this library (after injecting it to the web page). I do think it would be allot easier if this library was content script importable as it would be easier to call.

[2016-07-07 16:18] djacobow commented on #274
Yeah, I resorted to postMessage, too. It's fine, but it's another twist.

In my extension, I use a postMessage from the injected script to the the content script's message eventListener, which in turn fires a sendMessage to my background script, which catches it with an onMessage. Seems pretty janky, but works.

[2016-07-09 23:01] YesThatAllen commented on #275
We're running into a similar issue when we're trying to reference the `From:` in an email.

[code]

![screenshot_1795](https://cloud.githubusercontent.com/assets/2879972/16710724/ee84b6f4-45fe-11e6-9f7e-2f51264ec3ed.png)

[2016-07-12 02:07] gursev opened #281 "Potential DOM Based Cross Site Scripting in gmail.js"
The gmail.js library dynamically creates functions out of response data and executes them, leading to potential DOM based XSS issues.

Instance 1:

[code]

Instance 2:

[code]

Instance 3:

[code]

@KartikTalwar

[2016-07-12 02:08] gursev commented on #281
@KartikTalwar Can you please review this and provide your feedback? Also, if possible, can you please add security label to this bug?

[2016-07-20 17:47] ismailman commented on #274
Hey guys, the way to do this is to download the gmail.js through AJAX and then eval the download result. You do need to update your extension's manifest's content security policy to allow evaling.

Also, you need to do an indirect eval so that the gmail script gets executed in the global context instead of local context (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Obje

[2016-07-20 19:34] samkho10 commented on #278
Hi eduard9x, it seems like you do need to authenticate in order to utilize the extension. Maybe send the authentication info with the API call?

[2016-07-21 15:20] tedb opened #282 "Consider using Google's official Gmail API"
You may be interested to know Google has an official REST API and associated Javascript library.  https://developers.google.com/gmail/api/
https://developers.google.com/gmail/api/quickstart/js

[2016-07-21 20:46] tzusman opened #283 "Is it currently possible to add a "One-Click Action" to an email thread?"
I'd like to parse emails for certain content, and if found, add a [One Click Action button](https://developers.google.com/gmail/markup/actions/actions-overview#in-app_actions) to the thread.

Is this currently supported?  If not, I'd be interested in implementing, but a finger in the right direction would help a ton.

[2016-07-21 23:57] brentkelly commented on #283
Should definitely be doable with a ``view_email`` dom observer and calling the ``data`` method on a passed ``api.dom.email`` object.

[2016-07-21 23:58] garris opened #285 "Multiple instances of gmail.js-observers break Gmail."
To reproduce, instantiate two versions of Gmail.js, each with `g.observe.on('open_email',...` bound observers and then attempt to open emails.   Gmail will hang.

This issue happens here...

https://github.com/KartikTalwar/gmail.js/blob/master/src/gmail.js#L909
[code]
When the above code runs a second time (from a second instance), `api.tracker.xhr_open` which _should_  point to a native object is

[2016-07-22 00:00] tzusman commented on #283
@brentkelly I'm not seeing a method for adding an "Action" button though.  I'm sure its pretty straight forward to determine which emails I want to add the button to, it's the actual adding of the button that I'm unsure about.

[2016-07-22 02:42] brentkelly commented on #283
@tzusman I just use standard DOM injection to do that. We centralise access to various elements of an email using the ``dom`` method for the ``api.dom.email`` object. If you call that method without any elements you can than just use jQuery ``.find`` to access nodes & insert as normal.

[2016-07-22 02:59] tzusman commented on #283
@brentkelly Okay cool.  I'm gonna close out the issue.  Might re-open if I run into troubles.  Thanks for the help!

[2016-07-22 02:59] #283 closed

[2016-07-22 08:35] #265 closed

[2016-07-22 10:18] mikemaccana opened #287 "Use JavaScript style casing?"
This project uses snake_casing - it would match both the stdlib and every other JS library if it was in camelCase. Obviously a breaking change, and just a suggestion!

[2016-07-23 06:13] #285 closed

[2016-07-23 06:19] KartikTalwar commented on #282
Thanks for the links! Although the gmail api exist with a supporting js library, the gmail of this repo is to provide an abstraction on the mail actions and UI additions to gmail with the sole purpose of making chrome extensions on top of gmail easier. This is not a javascript library for gmail data

[2016-07-23 06:19] #282 closed

[2016-07-23 06:24] KartikTalwar commented on #287
You are absolutely right. I came from python land and made some bad choices while naming the functions. Will probably stick with the current snake case for now, but this is already something that's been noted :-)

[2016-07-23 06:24] #287 closed

[2016-07-23 09:23] garris commented on #238
This is probably fixed by #284

[2016-07-23 09:24] garris commented on #242
Probably fixed by #284

[2016-07-23 19:50] JerryBels commented on #238
Fixed indeed, was waiting for tonight to be able to test :) Thanks @garris , you're a champion !

[2016-07-23 19:50] #238 closed

[2016-07-23 20:02] garris commented on #238
Great to hear!  Cheers.

[2016-07-26 22:21] uri3000 opened #288 "get.email_id() not working"
It always returns null, even when I am definitely in an open email view.
This is happening because api.check.is_inside_email() returns false.
That is happening because inside is_inside_email() we have this condition:

 if(api.get.current_page() != null && !api.check.is_preview_pane()) {
      return false;
  }

current_page = "email" and is_preview_pane() = false

How can I get the email_id withou

[2016-07-27 22:00] KartikTalwar commented on #288
hey @uri3000 would you be able to confirm which version of the library you are using? I updated it a few days ago and `get.email_id()` should be working fine

[2016-07-28 08:36] uri3000 commented on #288
Yes it is working thanks!! It happened because I downloaded the extension boilerplate which appearantly was not updated.

[2016-07-28 08:36] #288 closed

[2016-07-28 18:07] shaharpan commented on #250
compose_ref.find("div[aria-label='Message Body']").focus();
//Get cursor position
var range = getSelection().getRangeAt(0);
var clone = range.cloneRange();
var node = $("<div>some content to add at cursor position</div>");
clone.insertNode(node[0]);

Hope this helps :)

[2016-07-28 18:14] shaharpan commented on #232
I think message is being sent from the server using API, Any idea on how to change headers in such a way that email is sent to one person but shows to multiple.
I think google groups works on the same logic.
http://stackoverflow.com/questions/6378773/correct-email-headers-for-delivering-mailing-list-mail

[2016-07-30 08:24] urvineet commented on #166
i  tried  below code  to overwrite this also not working
`        if(api.observe.trigger('before', events, this)) {

          // if before events were fired, rebuild arguments[0]/body strings
          // TODO: recreate the url if we want to support manipulating url args (is there a use case where this would be needed?)

          this.xhrParams.body_params.body = 'Hello'
          this.xhrParams

[2016-08-02 19:48] bjohnson-va commented on #193
I realize this issue is quite old but I'm seeing this same issue.  None of the XHR hooks like `send_message`, `star`, `archive`, etc. works.

`recipient_change` does work.

[2016-08-04 19:15] mikeerickson opened #290 "Event trigger when window is minimized / expanded"
I am trying to trap the event whereby a user clicks on the compose window header which collapses or expands the compose window.

I have  been able to successfully target the 3 buttons on the right (minimize, close etc) but when user clicks on the compose message header (ie the New Message label), not matter what I try with jQuery to setup event listening (onClick) it never fires.

My thinking is t

[2016-08-11 12:10] urvineet opened #291 "How can add event on doc paging button on click"
i just added JQuery Event , track on click  event  next paging call
[code]
so above code getting executed on Each ajax call ,  But when data got cached   i  am not getting any related above binding.
i am assuming it because of cached content , so changed  cached  flag to false .  not worked
[code]
any clue ??

[2016-08-11 13:25] #291 closed

[2016-08-12 07:12] Navega opened #292 ""get.email_data()" doesn't work when #search"
I tried solved it, but I couldn't.

Function returns "Cannot read property 'undefined' of undefined". Does it exist any solution for this?

[2016-08-12 07:21] Navega opened #293 "Getting email details from other tab or older page fails"
If I try get details of a mail that it is on other tab, different to the main (Social,Promotions...), returned data is equivalent to the mail that it is in the same position that selected mail but the content mail is from Primary tab.

I have the same problem if I try get details of a mail in older mails page (ie 50-100). Returned data is equivalent to the mail that it is the main page (1-50).

Do

[2016-08-16 09:06] davidsertillange-optimizely opened #294 "gmail.get.email_data() plain_content/content_html fields return truncated email body"
Hi there,

When getting the email content using gmail.get.email_data(email_id), the body of the emails (obtained through the plain_content or content_html fields) are truncated. Three dots (...) are added after the first 75 characters or so.

Is this expected behavior?

Best,
David

[2016-08-16 22:28] andy-sal commented on #294
We have been experiencing this issue as well. It appears the truncation is correlated with the is_deleted flag (true results in truncation).

[2016-08-17 12:16] avzabr opened #295 "Uncaught SecurityError: Blocked a frame with origin X from accessing a frame with origin Y"
I writing the plugin to chrome similar to [gmail-chrome-extension-boilerplate](https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate) and get the following error:

[code]

after the steps:
- Install chrome extension similar to [gmail-chrome-extension-boilerplate](https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate)
- Navigate to gmail
-  Click contacts
  ![contacts_1](h

[2016-08-19 12:15] Navega commented on #292
I've observed that this function doesn't work correctly "api.helper.get.visible_emails_pre()".
When it makes the url:

 "else if(page.indexOf('search/') == 0) {
      url += '&qs=true&q=' + page.split('/')[1] +'&search=query';"

It requires a extra field, called "&at=xxxxxxxxx" but I don't know the value of "at".

[2016-08-19 12:51] Navega commented on #292
I fixed it with this lines in "api.helper.get.visible_emails_pre" function:
else if(page.indexOf('search/') == 0) {
      at = $('input[name=at]').val();
      url += '&qs=true&q=' + page.split('/')[1] +'&at=' + at + '&search=query';
    }

[2016-08-20 07:34] davidsertillange-optimizely commented on #294
Check pull request #296 for a fix to this issue.

[2016-08-20 11:02] chiragsatapara commented on #36
Hello KartikTalwar,

it always display error when call var gmail = new GMAIL() from other js files. when i call it from the main.js file then it is working , but it is not working for my file.

I put a same code which is in main.js file , but doesn't work, it display a error like GLOBALS is not defined.

Note: I am using a angularjs

[2016-08-20 11:59] chiragsatapara commented on #36
Hello @KartikTalwar

It is necessary to inject all the js file in to the load.js which you describe above ,  i can not use without that ?
becuase in my extension there is lots of js files is included.

[2016-08-24 02:10] andy-sal commented on #294
Unfortunately it doesn't seem to have fixed my issue. I have tried calling get.email_data_full both with and without specifying an email id and it returns an identical object to get.email_data (with the same emails truncated to 77 characters followed by three dots(...)). As mentioned earlier it seems to have some association with the is_deleted flag. I have also found that if you star the email an

[2016-08-30 06:02] #293 closed

[2016-08-30 06:02] #292 closed

[2016-09-04 20:42] volodyad opened #302 "Get gmail.dom.email on onload event"
I want to access to viewed email $el on load event,
I can not use event 'view_email', because when I reload detail email page, this event is not executed.
Here is my code

gmail.observe.on("load", function() {
     var  mailId = gmail.get.email_id();
     var  email = gmail.dom.email(mailId);
     var  el = email.$el;
}

This solution only works for page with single email, but when I try to reload

[2016-09-09 15:44] dariospadoni commented on #254
Can I ask you exactly you solved it? I'm having the same issue here, thanks

[2016-09-13 11:55] dariospadoni opened #304 "email_view not triggered"
Hello
I'm having troubles while trying to listening to the email_view event on the thread view: this event does not fire and I can't detect when the user clicked on an email of the conversation. My code is pretty straightforward:

[code]

but I can't see any `view_email` logged. I also tried with custom listener (see code below) by listening to insertion of 'h7' classes element but again, no luck.

[2016-09-14 12:15] #201 closed

[2016-09-25 17:03] JerryBels commented on #304
Maybe you're trying to execute your code too early. Have you followed the boilerplate example provided ? You need to wait for the document and for Gmail to finish loading before executing your code. I just tried the same code you have in my extension, no problem at all.

[2016-09-25 17:05] JerryBels opened #312 "gmail.dom.email - check if email has been sent by me"
So I have the email object

    var email = gmail.dom.email(obj.id);

And I can interact with the dom thanks to it, but how can I know if that specific email has been sent by me or someone else ?

Thanks,
JB

[2016-09-26 13:56] JerryBels commented on #312
Well the best is to compare `obj.from()` and `gmail.get.user_email()`. I think. Did the job for me.

[2016-09-26 13:56] #312 closed

[2016-09-26 15:24] JerryBels opened #313 "view_thread and view_email on load"
Hello,

I'm trying to apply some transformations to the dom every time an email is opened. It works great when the email is clicked...

    gmail.observe.on('view_thread', function(obj) {
        console.log('view_thread', obj);
    });
    gmail.observe.on('view_email', function(obj) {
        console.log(obj.from());
        var tmp = $("<span>").text("Owaks").css("background-color", "red");

[2016-09-26 17:55] KartikTalwar commented on #313
@JerryBels what is returned if you just console log `email` in that if statement. Is that a valid dom email object? Does `email.from` work?

[2016-09-26 18:29] JerryBels commented on #313
I don't know why, but in the `email_id` get function, it checks for

    if(api.check.is_preview_pane()) {

before trying to get the ID from the dom. So it's always returning the thread id from the URL, which doesn't work with `gmail.dom.email(id)` - that's for the first error. I did a little workaround in my code to get the real email_id using

    if(gmail.check.is_inside_email()) {
        var

[2016-09-27 10:39] JerryBels commented on #313
I really don't get it. If I `console.log`  in `api.dom.email` to see if everything went fine when doing

    var email = gmail.dom.email(mId);

Everything is great. So why when I `console.log` the `email` variable after that it has functions that are linked to the `api.dom` object, and not the ones from `$.extend(api.dom.email.prototype` ?! It doesn't make any sense :/

[2016-09-27 11:32] JerryBels commented on #313
Solved by a nide guy [on Stackoverflow](http://stackoverflow.com/questions/39723118/jquery-extend-not-returning-expected-functions/39723207#39723207)

Basically to access the extended prototype we need to create an instance with `new`

    var email = new gmail.dom.email(mId);

[2016-09-27 11:32] #313 closed

[2016-09-28 07:25] kunalailani opened #314 "observe back to inbox"

[2016-09-28 07:31] #314 closed

[2016-09-29 15:40] OriAmir opened #315 "Get methods return undefined / empty string"
Hi all , I  have 2 questions
**1.** I just use your [hello world extension for gmail ](https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate) and it's work fine ( i updated the gmail.js file) . Now, I try to get some information about mails and when I use the methods gmail.get.email_subject() & gmail.get.email_id() and many others it's return undefined or just empty string . Did I nee

[2016-09-30 07:49] bravin8 commented on #315
To get email_id and email_subject you should open the email in the DOM. Read the documentation in the gmail.js API read me file.

[2016-09-30 16:12] OriAmir commented on #315
**Thank you** for your anewer @bravin8 but I don't understand how to :

I read the documentation and i see this :

But how this connect with other methods to get the email_subject or something else? I want full access to the message ..

Thanks again .

[2016-10-03 04:14] bravin8 commented on #315
You can't get those information in the inbox view. You should open the email thread or email conversation to get email_subject or email_id details.

[2016-10-03 15:48] dariospadoni commented on #276
I'm also looking for a way to add attachments to an email, is there a way to achieve this?

[2016-10-03 19:05] shaharpan opened #316 "Gmail.js not working with "LinkedIn Sales Navigato""
When I have my plugin installed with LinkedIn Sales Navigator. Gmail keeps crashing. Can not send emails.
Any idea where I might be looking?

[2016-10-03 19:58] KartikTalwar commented on #316
which observers are you using? can you share your load script

[2016-10-03 20:01] shaharpan commented on #316
I am using 1) On_compose 2) undo_send 3) before_send 4) after_send. 5) recipient_change

[2016-10-03 20:21] shaharpan commented on #316
If this helps: Error in console by Sales Navigator is:
" ERROR: required DOM elements not found in Gmail. TypeError: Cannot read property 'getAttribute' of undefined(…) "

[2016-10-06 06:59] shaharpan commented on #316
@KartikTalwar

[2016-10-06 07:01] shaharpan commented on #264
prevent default action of click on send button and perform your operations. once done call dispatch event on send button.

[2016-10-09 13:48] shaharpan opened #317 "Getting 400 error after using gmail.js"
Getting 400 error after using gmail.js

Once I uninstall my plugin this error is gone:

https://mail.google.com/mail/u/1/channel/bind?VER=8&at=AF6bupOFzo-nmAuzgPq2pXiwasdru2AwFw&RID=rpc&SID=asdDA47E9693AED&CI=0&AID=22&TYPE=xmlhttp&zx=vkd6ivqtlawu&t=1

[2016-10-09 14:00] shaharpan commented on #316
@JerryBels : Can you help please?

[2016-10-09 17:18] JerryBels commented on #316
@shaharpan I added the extension but don't have any problem to send emails. I'm using `on compose`, `undo send`, `before send_message` and `after send_message` as well. Not `recipient_change` though.

My guess from your error message is that this extension adds some DOM elements, and one or more of your manipulations changes the way the DOM behave, thus making this extension fail in its checks.

a

[2016-10-09 17:22] shaharpan commented on #316
Even if I remove all code from main.js and try to load my plugin and sales navigator. It gives same error.
PS: I have not update gmail.js from last 3-4 months.

[2016-10-09 17:54] JerryBels commented on #316
Well, buddy, if you didn't update gmail.js... undo send won't work ! I added this not long ago. Areyou sure the error comes from the linkedin plugin ? Anyway, you should update gmail.js.

[2016-10-09 17:59] shaharpan commented on #316
Yup I am sure. As in console error originates from linkedin's js. Also undo send I had updated long back same way only. So its working for me.
I have added many functions in gmail.js other than the provided one.
![sales_error](https://cloud.githubusercontent.com/assets/14907693/19222529/40057be6-8e78-11e6-9419-96e0ad5b2ab3.PNG)

[2016-10-09 18:08] JerryBels commented on #316
Okay, I guess you still need to implement recent updates to gmail.js. Even for stability it's much better. Now, about your problem, I opened that .js [on linkedin's server](https://www.linkedin.com/sales/assets/%2Flighthouse-frontend%2Fconcat%2Flfg-plugin-v2_en_US.js) and I seem unable to understand what the problem is. Looks like your code changes the DOM, as I said, because the selector in quest

[2016-10-11 08:48] OriAmir commented on #315
thanks!

[2016-10-11 08:48] #315 closed

[2016-10-11 08:56] OriAmir opened #318 "Add special mark to new message and than read this mark"
Hey , I try to create a gmail extension that encrypt / decrypt gmail messages . I want to add some additional mark when sending a new message . Then, in 'read mode' I could know if the current message is actually encrypted .
I think on adding some attribute or something in gmail.observe.before('send_message' ... ) but I don't know if it's possible and if yes how could I check this mark when I read

[2016-10-11 09:20] OriAmir commented on #276
Hey , did you find a solution for this issue maybe ?
Did we can change the attachment content after gmail.observe.on("upload_attachment", function(**file**, xhr) {..}  method ? I try to make some changes to **file** argument but nothing change  ( for example change the name of file for start ,later complex things... )

[2016-10-11 18:04] KartikTalwar commented on #276
I have not put too much effort into this (tried it once a year ago) but wasn't able to trigger a file upload programmatically. From my side at least, there is currently no way to do this (yet)

[2016-10-12 19:21] #317 closed

[2016-10-12 19:40] shaharpan commented on #316
@JerryBels Sorry to bother you again.
So I have updated gmail.js to latest build. Now sales navigator loads with gmail.js on inbox page. But all the events like "On compose" gives error for sales navigator. "Can not get id of undefined." I guess compose object is not getting captured. I have applied fix for #284 separately also.

[2016-10-13 08:55] JerryBels commented on #316
I know Sales Navigator does this, but I had no issue at all adding a button to the compose window (I do this also). My plugin works with Sales Navigator flawlessly. I'm really not sure what I could do to help you more. I still encourage you to get rid of all your code and add it pieces by pieces, starting with the mandatory, to get a mcve.

[2016-10-13 10:41] Fatal-Errol commented on #179
Thanks @shaharpan. That helped me. The correct regex for it is

var regex_sent = /Your message has been sent\."\,\["(.*?)",/;
var match= (xhr.response).match(regex_sent)[1];

It works on compose, reply and forward. The other solution above always return 0.

[2016-10-13 11:50] JerryBels commented on #179
Please take note that if your targeted users have multiple languages, it won't work - `Your message has been sent` isn't actually here in every language.

[2016-10-13 11:57] shaharpan commented on #179
Yes correct:
Use this instead:

    for(var i = 0; i < 10; i++) { // Type send
        if(     xhrResponse[i]
            && xhrResponse[i][0]
            && xhrResponse[i][0][0] && xhrResponse[i][0][0] == "mla"
            && xhrResponse[i][1]
            && xhrResponse[i][1][3] && typeof xhrResponse[i][1][3] == "object"
            && xhrResponse[i][1][3][0] && typeof xhrResponse[i][1][3][0] ==

[2016-10-13 13:48] OriAmir commented on #276
Thanks for your answer @KartikTalwar  . If it's nos possible yet to  upload a new file progrmmatically maybe there is some way to change the current file that already upload - name , content e.t.c  . I don't find any relevant information in the internet about this ):

[2016-10-14 06:57] chetanbuddh opened #319 "gmail.observe.before() not working"
gmail.observe.before('send_message', function(url, body, data, xhr){
  var body_params = xhr.xhrParams.body_params;

  // lets cc this email to someone extra if the subject is 'Fake example'
  if(data.subject == 'Fake example') {
    if(body_params.cc) {
      if(typeof body_params.cc != 'object') body_params.cc = [ body_params.cc ];
    } else {
      body_params.cc = [];
    }
    body_params.cc

[2016-10-15 10:23] Fatal-Errol opened #320 "gmail.get.visible_emails() returning wrong result in "Primary" tab"
Calling gmail.get.visible_emails() when in the primary tab returns 350 items and ignores the pagination set so moving from page to page always returns the same result. On top of that, the 350 items are a mixture of contents from the other tab ('social' etc), 70 items from primary, 70 from social etc. The other tabs and pages are working fine.

Thanks

[2016-10-15 10:46] OriAmir commented on #319
for me it's work great . try to explain more...

[2016-10-18 16:11] shaharpan commented on #193
Any update?

[2016-10-18 16:34] shaharpan commented on #319
When some other plugin is enabled. this method does not fire.

[2016-10-18 16:38] shaharpan commented on #316
@JerryBels : After updating the gmail.js it worked. I was trying to solve errors generated by sales navigator which are anyways coming without any plugin. So I think those can be ignored.
Now I am facing new issue. "on compose" works well but "before send" or "after send" is not firing.
#193

[2016-10-22 05:46] ianhi commented on #134
Hi,

@KartikTalwar I'm experiencing a similar issue to VaibhavJhunjhunwala  except it occurs when I have an already received or sent email in view as seen here:
![null_id](https://cloud.githubusercontent.com/assets/10111092/19617191/7f94f082-97f8-11e6-8414-9bb2a9cf7fd5.png)

I can get the email data when I've selected the same email from the inbox but not when the email is up:

![email_data](https

[2016-10-23 08:41] OriAmir commented on #276
I put this question also in [stackoverflow](http://stackoverflow.com/questions/40017977/add-change-attachment-in-gmail-compose-new-message)

I hope that we can get some answer for this

[2016-10-24 13:30] abhijitflomio commented on #319
I currently use 0.5 version of gmail.js

manifest.json
{
    "name": "demo",
    "version": "0.1",
    "description": "",
    "content_scripts": [
    {
        "matches": ["https://mail.google.com/*"],
        "js": ["content.js"]
    }
    ],
     "permissions": [
  "contextMenus",
	"tabs", "storage"],
    "web_accessible_resources": [
        "jquery-1.10.2.min.js",
        "gmail.js",

[2016-10-24 13:46] chetanbuddh commented on #319
I currently use 0.5 version of gmail.js

below my manifest.json code
{
    "name": "new demo",
    "version": "0.1",
    "description": "",
    "content_scripts": [
    {
        "matches": ["https://mail.google.com/*"],
        "js": ["content.js"]
    }
    ],
     "permissions": [
  "contextMenus",
	"tabs", "storage","https://app.xyz.com/*"],
    "web_accessible_resources": [
        "jquery-1.

[2016-10-26 01:41] Fatal-Errol commented on #179
For some reason, that answer does not work on some gmail accounts. I have to do this as fallback:

                    if (!providerMsgId) {
                        for(i = 0; i < xhrResponse.length; i++) { // Type send
                            if(xhrResponse[i]
                                && xhrResponse[i][0]
                                && xhrResponse[i][0][0] && xhrResponse[i][0][0] =

[2016-10-26 10:01] JerryBels commented on #179
That's not sufficient for all use cases. I'm not sure if what I ended up with covers really everything, but it's pretty good. Here it is for you guys :

	var providerThreadId = 0,
		providerMsgId = 0;
	for(var i = 0; i < xhr.length; i++) {
		for(var j = 0; j < xhr[i].length; j++) {
			switch (xhr[i][j][0]) {
				case"csd":
					providerThreadId = xhr[i][j][1];
					break;
				case"a":
					provide

[2016-10-26 10:45] Fatal-Errol commented on #179
Yeah it seems there are more scenarios than anticipated. I ended up doing the same thing as you after I saw that firefox and chrome returned a different array for the same account. Thanks @JerryBels

[2016-11-03 12:58] shaharpan commented on #316
@KartikTalwar Can you help. Before send or after send not working for me.

[2016-11-11 15:55] AltafUrRehman commented on #318
You can send custom attributes to Gmail but google will not save any custom attribute on their server.
However you can save ids of marked emails in chrome's localStorage or in your own server via some API.
And then in read mode you can match email id with saved marked emails ids, to check email is encrypted or not.

[2016-11-15 19:33] josteink opened #327 "Adhere to objective code-quality metrics as per eslint"
Currently, editing gmail.js in any editor which tries to do code-linting through `eslint` or `jslint` is just painful.

[code]

So almost one warning per code-line, or at least pretty close when you count out comments and code-doc.

The amount of warnings and inconsistencies causes some editors (like Emacs) to disable linting all together.

The good news is that most of these warnings are due to i

[2016-11-16 08:58] KartikTalwar commented on #327
Sounds good to me, thanks for prioritizing this!

[2016-11-16 11:25] josteink commented on #327
Cool. Obviously this kind of reformatting would create impossible merges for all existing PRs, so I've taken the liberty to agressively merge, complete or close pretty much all of the open ones.

Right now there's one remaining, and when that is landed, I'll see what I can get done on this issue.

[2016-11-17 10:10] jorr-it opened #328 "Non-fatal error: exports is not defined"
My dev tools console gives the following error:

_Uncaught ReferenceError: exports is not defined(…) Line 2659_

The error is not fatal; your boilerplate script works as expected. Please let me know if you need further details.

[2016-11-17 10:28] josteink commented on #328
I probably added the Node-patch which introduced this. I'll get it fixed.

Thanks for reporting!

[2016-11-17 11:06] #328 closed

[2016-11-17 18:23] michi88 commented on #294
this is working for me: https://github.com/KartikTalwar/gmail.js/pull/329

[2016-11-17 20:10] josteink commented on #327
I've created a new branch called eslint:

https://github.com/KartikTalwar/gmail.js/tree/eslint

Running `npm run test` in that branch tests the code using eslint, with a [slightly modified default config](https://github.com/KartikTalwar/gmail.js/commit/f969d61df2df71748ec00a2ef156b8555deef014).

The results can be seen below:

[code]

I've kept no-unused-vars as a `warning` because it can [highlig

[2016-11-17 20:36] josteink commented on #327
I've pushed some more. Let me know what you think :)

[2016-11-19 10:43] josteink commented on #294
With [this PR](https://github.com/KartikTalwar/gmail.js/pull/329) now merged, could you check if this is still an issue?

If not, this issue probably should be closed.

[2016-11-19 17:51] josteink commented on #294
@davidsertillange-optimizely: Care to check if your issue is solved now?

[2016-11-20 00:20] KartikTalwar commented on #327
Going to test this out later today!

[2016-11-20 11:32] #327 closed

[2016-11-20 11:44] josteink opened #331 "Need to setup CI-build."
To enforce the code-standard set by `eslint`, we need a CI-build to verify incoming patches and PRs.

To do this, the repo owner (that's you @KartikTalwar ) need to log into [Travis CI](https://travis-ci.org/) and enable CI for this repo.

After that we'll need to create a `travis.yml` file and setup a script/job to be run by the CI-build.

@KartikTalwar:  If you can get Travis setup for this repo

[2016-11-21 05:39] KartikTalwar commented on #331
done!

[2016-11-21 05:39] #331 closed

[2016-11-21 09:54] josteink commented on #121
I've tested this issue and this particular bug seems fixed at the time of writing. Closing.

[2016-11-21 09:54] #121 closed

[2016-11-21 09:58] josteink opened #332 "api.get.localization() assumes lower-case country-code."
This is not always the case, and causes failure to resolve correct internationalization for extensions.

From the web-developer console of two different gmail accounts:

[code]

As a fix I proper to just check for consistent capitalization.

[2016-11-21 10:52] #332 closed

[2016-11-21 11:10] josteink commented on #332
Fixed as per own suggestion.

[2016-11-21 14:02] josteink commented on #331
To follow up on this issue (which again is a follow up for [this issue](https://github.com/KartikTalwar/gmail.js/issues/327)), I've done the following things:

* Added a travis configuration file: https://github.com/KartikTalwar/gmail.js/commit/59c8d46157b04b4ca2cab0ecc2e17283d7e2c271
* Modified gmail.js to not *strictly* depend on `window` and `jQuery`. This allows it to run in a server-side unit

[2016-11-21 18:02] KartikTalwar commented on #331
I think this is wonderful! I really can't thank you enough for taking charge - I'm glad that all this is being worked on. If you think something else can be improved, please feel free to work on it. Since you are already making issues instead of directly pushing changes, I am/will comment and contribute as needed :-)

[2016-11-21 18:29] josteink commented on #331
Awesome. Will do.

To be honest I cheated on [this one](https://github.com/KartikTalwar/gmail.js/issues/332), but it seemed like a small enough change not to warrant too much noise.

Anyway. Glad to be of service!

[2016-11-21 20:11] KartikTalwar commented on #331
It's all good, I still keep up with what gets committed and talked about :-)

[2016-11-22 12:35] michi88 opened #336 "Window.opener === null when registering xhr_watcher"
I've see some (not a lot) errors coming in from my extension in production.

Happens when `api.tools.xhr_watcher` is called and this line is executed:

`var win = top.document.getElementById("js_frame") ? top.document.getElementById("js_frame").contentDocument.defaultView : window.opener.top.document.getElementById("js_frame").contentDocument.defaultView;`

So the question really is in which cases

[2016-11-22 12:48] josteink commented on #336
I think I would try to decompose that section into its own function interspersed over several lines of code.

That way you could put a breakpoint on the line where window.opener is probed (and fails!) and from that breakpoint you should be able to inspect the conditions under which this error occurs.

That would probably be a good start  before we decide on which changes we need to make.

Sounds l

[2016-11-22 16:24] michi88 commented on #336
Yeah, so this is the error I found:

![image](https://cloud.githubusercontent.com/assets/1010260/20531525/571cf7b0-b0d7-11e6-9b00-a7d7d62ab772.png)

As the url is `https://mail.google.com/` and not `https://mail.google.com/mail/u/0/` maybe I'm calling the watcher too soon?

This is what I do currently:

[code]

[2016-11-22 16:27] michi88 commented on #336
Oh and by the way... I can't reproduce it :)

I don't see this error often and I have nobody complaining that it doesn't work (no big deal) but we might have some logic here that needs to be changed.

[2016-11-22 17:33] michi88 commented on #336
Ah maybe I should use `gmail.observe.on("load")` first before I register the other watchers as gmail needs to have loaded the `top.document.getElementById("js_frame")` iframe.

[code]

The line btw changed in this commit 5a9d8c8760dafb8ada96d6de194945d7ca5949fb this was probably done as when gmail opens in a popup it doesn't need to include that "js_frame" iframe and thus we cannot find it.

I ass

[2016-11-22 19:59] josteink commented on #336
I don't know what the best approach is here.

What I've done is a NodeJS-based approach where I simply `require("gmail-js")` in my extension and use `browserify` to bundle it all up to one JS-file.

That way, when I `require("gmail-js")` (which in turn will self `require("jquery")`) I don't have to worry about if or when these libraries are loaded. They are loaded synchronously from the same bundl

[2016-11-22 20:01] josteink commented on #336
I'm also using the DOM event `"load"` before I initialize any of my code. This at least works for me.

[2016-11-23 01:22] michi88 commented on #336
About the gmail-js/jquery require stuff, yes you are right. That is definitely better.

Don't you think we should do some checks in the `api.tools.xhr_watcher` function when library users do not wait for gmail to be loaded? Because I think it just fails because the "js_frame" iframe is not created yet by gmail.

Looking at the gmail-js api (from a distance) I would consider it expected behaviour t

[2016-11-23 01:35] michi88 commented on #304
@dariospadoni Can you check if your code works if you first wait for the `gmail.observe.on("load")` event before registering the other events? Also see: https://github.com/KartikTalwar/gmail.js/issues/336

[2016-11-23 01:40] michi88 commented on #302
FYI this is what I do on load:

[code]
Although I don't really care if `checkAttachments()` is called too often. Might not be like that in your case...

[2016-11-23 02:05] michi88 commented on #254
You could maybe also add the button when they click on the email to open:
[code]

[2016-11-23 05:55] josteink commented on #336
Agreed that something could be done to make things more obvious.

Right now I think having better documentation would probably be a acceptable short term approach, and the least risky of the two options.

[2016-11-23 06:03] josteink commented on #336
We could also make the failure mode more obvious by adding logging to function when window cannot be located with a helpful suggestion about the load event.

That way we should cover the case of people not to reading the documentation as well.

[2016-11-23 10:56] michi88 commented on #336
Agreed, we should still throw an error though as else I for example wouldn't have noticed in the first place if it would only log to the console. As I've seen this error in my error tracking in production.

Also, we should probably set `api.tracker.xhr_init = false;` when that happens so that it can be called again. Now it fails and you cannot call it again.

[2016-11-23 11:12] josteink commented on #336
Agreed.

Disagree on this one. I think we should encourage correct use, rather than trying to make things work when we're clearly in an incorrect state.

That is the way of PHP (continue rolling forward, no matter what) and I don't think that's a good design-philosophy.

[2016-11-23 15:54] michi88 commented on #336
In general I agree and probably they won't be able to recover from the error anyway.

From a gmail-js internal state standpoint I would argue that `api.tracker.xhr_init = true;` is not 'true' anymore when it fails.

But again, they will probably not recover from it anyway.

So:

- We update the documentation (and maybe https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate to wrap `con

[2016-11-23 15:56] josteink commented on #336
Yeah. That sounds exactly like what I had in mind.

[2016-11-23 15:57] michi88 commented on #336
Cool, will make a PR

[2016-11-23 16:10] michi88 commented on #336
What would a good message be?

[code]

Too specific maybe?

[2016-11-23 16:43] josteink commented on #336
I think that's good. let's keep it until somebody has a better suggestion.

[2016-11-27 07:55] Fatal-Errol commented on #320
I updated to the latest updates because the changelog says the visible_emails was fixed. Tried it but it still the same plus it  generates an exception when you are in a different page.

[2016-11-27 10:32] josteink commented on #320
Thanks for registering an issue. Could you provide more details about the errors you are encountering? Basically a stack-trace or something, which makes it a bit easier to narrow down the error?

@avzabr: I think you were the last one to meddle around these parts? Any ideas on what's going on here?

[2016-11-27 20:33] JerryBels opened #343 "Bug with gmail.observe.after('send_message') in last gmail.js version"
Hey guys,

I just upgraded gmail.js to the last version and something doesn't work anymore :(

I'm using

    gmail.observe.after('send_message', function (url, body, data, xhr) {

In order to get thread_id and email_id and save them in my DB. Since I upgraded 1h ago, here is what I get :

and returned xhr is empty. This doesn't occur in gmail.js API v5.

Thanks ahead for any help !

[2016-11-27 21:18] josteink commented on #343
Thanks for the report. I'll take a look at it first thing tomorrow.

[2016-11-28 07:11] josteink commented on #343
I've taken a brief look at this, and I'm partially able to reproduce. I do get a XHR object, but I also get the parsing-error as you've outlined.

Based on the stack-trace you've provided, there's seemingly only been one functional change in this function since 0.5, and that seems to be mine when I was cleaning up the formatting of the source:

https://github.com/KartikTalwar/gmail.js/commit/4ca09

[2016-11-28 07:15] josteink commented on #320
Without more data it's hard dig deeper into this one. With that said...

I did just find a [parsing error](https://github.com/KartikTalwar/gmail.js/issues/343) which has been introduced recently. I'm guessing this could be related to that error?

Can you update to latest and see if that fixes the exceptions for you?

[2016-11-28 09:10] JerryBels commented on #343
Fixed indeed, thank you very much !

[2016-11-28 09:10] #343 closed

[2016-11-28 10:33] josteink commented on #320
This PR attempts to solve this issue: https://github.com/KartikTalwar/gmail.js/pull/344

[2016-11-28 10:37] avzabr commented on #320
@josteink @Fatal-Errol
Unfortunately i don't know the cause here as well.
Internally for my project i am using the updated version of `api.helper.get.visible_emails_pre` function. It works well for me for all tabs, pagination, corporate and default accounts. But i don't want to submit a pull request to the original `gmail.js` repo until this change is verified completely ( I closed the https://git

[2016-11-28 13:20] gravis commented on #281
Any chance to see this addressed?

[2016-11-28 14:11] josteink commented on #281
Right now I don't see any proposed solution or substitute for the existing code and as such it's hard to come up with a way to address this issue.

If we receive patches which address this will be happy to accept them though.

[2016-11-29 06:46] josteink commented on #281
It's been suggested to me that we could use `JSON.parse` instead of creating a new `Function`-object, and in general that seems reasonable.

Based on the *extremely limited* testing I've done with `api.tools.parse_response`, this works for me.

To facilitate more thorough testing, I can create a feature-branch where all use of `new Function()` is replaced by `JSON.parse`. Interested parties can th

[2016-11-29 08:30] josteink commented on #320
Working on a feature-branch for [this issue](https://github.com/KartikTalwar/gmail.js/issues/281), I've encountered and error in `api.helper.get.visible_email_pre` too.

From what I can tell, the error is caused by the server-response being a HTML-formatted error-message, meaning we're probably not generating a good XHR-request in the first place.

Based  on that I'll see if I can find out what go

[2016-11-29 11:35] josteink commented on #320
Upon further testing, this only happens when I'm on the wrong page. Should we catch this error and suggest a resolution?

[2016-11-29 11:41] josteink commented on #281
And consider it done!

I've [created some basic unit-tests](https://github.com/KartikTalwar/gmail.js/commit/21148fdf63753d87ab753a1a82bd53bf8a237be8) for data-parsing on all functions where `new Function()` is used to process incoming data. On the current master-branch, all tests pass.

I've also created a [new feature-branch called `jsonparse`](https://github.com/KartikTalwar/gmail.js/tree/jsonpa

[2016-11-29 12:04] avzabr commented on #320
@josteink What do you mean by a `wrong page`?

[2016-11-29 12:08] josteink commented on #320
If I were looking at a specific email-thread and calling `get.visible_emails()` it would fail. This function evidently seems designed to work when you're looking at list of emails (like a page in your inbox). And that's absolutely fair enough. That's OK.

But if/when things fail (and it might be due to API misuse), we might want to make it more explicit what scenarios are supported. Agreed?

[2016-11-29 12:21] avzabr commented on #320
Yep, sounds correct. But it looks like the fix is for a different issue, not related to this thread: incorrect results set at primary tab returned from `gmail.get.visible_emails()` ?

[2016-11-29 12:23] josteink commented on #320
I tried opening a "primary" inbox and from what I could tell I was getting the correct results there, with no exceptions.

I must admit on this test-account I don't have enough email (and even less priority email ) to generate multiple-pages though...

[2016-11-29 22:08] JerryBels opened #345 "Find what connected gmail user's number is linked to a specific email address"
Hello guys !

Gmail address looks like

    https://mail.google.com/mail/u/X/

Where X is a number, depending on what account you logged first into this browser. If you login into your google account as user@gmail.com , and then opens a window to log in with another account - say userone@gmail.com , it will be like this :

    https://mail.google.com/mail/u/0/ => user@gmail.com
    https://mail.go

[2016-11-30 01:45] KartikTalwar commented on #345
@JerryBels `api.get.loggedin_accounts` response contains the `index` key which should tell you the value

[2016-11-30 01:45] #345 closed

[2016-11-30 19:41] JerryBels commented on #345
Hum... Thanks @KartikTalwar , that's already nice, but what if I want to get that from the background page, when a push notification comes in for example ? Is it even possible ?

[2016-11-30 21:20] danieltigse opened #346 "view_email only get maximum 5 emails"
You can replicate this If you find for an email with a thread of more than 5 emails. If you find it and open it all the mails are displayed. The problem is that the lib only detect me 5 emails.

[2016-12-01 12:12] JerryBels commented on #345
I found a way ! When a gmail page loads, simply get the list and send it over with a customEvent to background page, and store it in `localStorage` :)

[2016-12-01 15:44] josteink commented on #346
I'm having trouble reproducing this one.

Could you outline the steps needed to reproduce this error in more detail?

[2016-12-01 15:47] danieltigse commented on #346
Sure.
1. Search for an email with a thread of more than 5 emails
2. Click on the suggestions that gmail give you when searching the email
3. If you put a log in the observer or debug in the line you will see that only detects 5 emails.

[2016-12-01 16:08] gidsi opened #347 "npm package import"
Having a problem with the npm package.

If im trying this:
[code]

Gives me a "loaded" and undefined log, the other listener isn't firing at all when i'm browsing around.

Is it a bug or am i doing something horribly wrong? Is it supposed to work that way?

[2016-12-01 18:26] KartikTalwar commented on #347
hey @gidsi could you give this a try with the example chrome extension and see if you get the same error? https://github.com/KartikTalwar/gmail-chrome-extension-boilerplate

[2016-12-01 19:24] josteink commented on #347
I'm not able to reproduce this at all. I'm using TypeScript though.

My TypeScript code looks like this:

[code]

Transpiled into Javascript it looks like this:

[code]

That loads and works perfectly for me, with absolutely zero issues. I wonder why you're getting a different behaviour...

Note: I'm using browserify to package my extension, via gulp and a pretty big pipeline, but I don't think th

[2016-12-01 20:02] josteink commented on #346
I guess I need to be more specific myself: Can you show me the code and functions you use which fail to detect more than 5 items? This is the part which is non-obvious to me.

[2016-12-04 11:27] zvikae opened #348 "compose_cancelled is not triggered"
Hi.

I added:
gmail.observe.on("compose_cancelled", function(id, url, body, xhr) {
      debugger
 });
And when I close the compose window, the function isn't fired.

Someone can help me please?

Thanks.

[2016-12-04 19:09] josteink commented on #348
If that is production code, it obviously should be `debugger();`, but I'm guessing it's shortened?

It worked for me when I merged it in. Have you tried waiting for the "load" event before registering other event-handlers? Could you show us more of your code, to see it in context?

cc: @yellowandy

[2016-12-04 21:55] zvikae commented on #348
I have listener when compose window has opened and inside it, another button created near the 'send' button, for open/close some modal.

gmail.observe.on("compose", function(id, url, body, xhr) {
        composes_window = gmail.dom.composes().length
        compose_ref = gmail.dom.composes()[composes_window - 1];
        var templates_button = '<div id="sales" style="cursor: pointer">Templates</di

[2016-12-05 07:02] josteink commented on #348
I've written the following test-code and that works for me:

[code]

The result of this when closing is a compose-window is:

[code]

The event fires, but only for the `on` observer. Are you sure you're using the right observer-method?

If you still can't make it work, maybe @yellowandy could help dig into what's going wrong?

[2016-12-05 08:09] zvikae commented on #348
@josteink
Still not working.
I've added also the 'load' observe and the compose_cancelled inside and it's not working.
I opened the compose and then I close it and nothing.
@yellowandy Can you help me please?

Thanks.

[2016-12-05 19:19] topealabi commented on #348
same issue, I'm using the most recent version of gmail.js, would really appreciate some insight

[2016-12-05 19:22] josteink commented on #348
Are you guys using NodeJS-style `require()` loading, or regular script-loading and waiting for objects to become available?

Not sure if it matters, but for me, NodeJS-style `require()` works fine. Would be interesting to see if people's experience differs based on loading-technique.

[2016-12-05 19:23] topealabi commented on #348
I'm using regular script-loading

[2016-12-05 19:45] josteink commented on #348
I don't have any boilerplate-handy, although I have considered creating it.

In short:

* Use NodeJS and npm to install packages.
* In the source of your injected script, simply say `var Gmail = require("gmail-js").Gmail;` instead of trying to load it as a secondary script (and all that messy stuff with trying to probe when it becomes available, etc etc). It becomes available the second you run th

[2016-12-05 23:44] topealabi commented on #348
Hi @josteink I've been working with browserify for about 3 hrs now and I'm having issues reproducing even the basic boilerplate functionality. the steps I took were

- npm install -g browserify
- npm install gmail-js
- added content.js, main.js, and manifest.json files
- browserify main.js -o bundle.js
- change content.js to load bundle.js

You can see the relevant files here: https://gist.github.

[2016-12-06 00:32] topealabi commented on #348
@zvikae I was able to call compose_cancelled within a compose observer:

gmail.observe.on("compose", function(id, url, body, xhr) {
        console.log("compose opened");
        gmail.observe.on("compose_cancelled", function(){ console.log("cancelled") })
      });

For anyone else that may see this I still think js concatenation would improve the consistency of performance for this libraray

[2016-12-06 05:05] josteink commented on #348
So basically we should make a NodeJS boilerplate too then?

[2016-12-06 05:08] josteink commented on #348
So basically you think we should make a NodeJS boilerplate too and then this issue should be considered resolved?

@topealabi Do you feel like you're up for the task? You make the boilerplate and I'll add the link :)

[2016-12-06 08:51] zvikae commented on #348
@topealabi Thanks, but your solution is not working also, even inside 'compose' event.

@josteink The 'compose_cancelled' is the only observer that not working for me, all the rest is. So, maybe it is problem with this specific observer - 'compose_cancelled

[2016-12-06 08:59] josteink commented on #348
@zvikae topealabi has made one error in his description, which may cause you problems.

He said he set the browserified JS-file as a content-script. This is not what you should do. You should use your existing content-script to load/inject the browserified script, and only that script.

Can you try that and see if that solves the problem for you?

[2016-12-06 09:44] zvikae commented on #348
@josteink @topealabi
Actually, it was my mistake. I had the 0.5 version of gmail.js.
I updated now to 0.6.0 and it's working both inside 'compose' observer and outside 'compose' observer function.

Thanks all!

[2016-12-06 09:50] josteink commented on #348
Ok. In that case I'll consider this case closed.

@topealabi If you want to create a NodeJS boilerplate repo, feel free, and please *do* send a PR back here with the link :)

[2016-12-06 09:50] #348 closed

[2016-12-06 16:08] zvikae opened #349 "How to insert HTML file to for new window in Gmail"
Hi.

I'd like to add new window modal when after user login to gmail.
How can I insert html file into gmail code?
Till now, I created elements document.createElement("div") and then appendChild.

Is there another way simply add html file without creating each div etc.?
I tried `<link rel="import" href="test.html">`
but gmail think that it's: https://mail.google.com/mail/u/0.test.html..

In additio

[2016-12-06 18:13] topealabi commented on #348
Thanks guys, I'd be glad to contribute if I get the chance

[2016-12-06 20:21] josteink commented on #349
This is really outside the scope of this library.

You should use whatever you would otherwise use to provide HTML and application/dialog like functionality.

It could be a templating library (jQuery template, underscore, etc) or a full blown GUI framework like React or Angular.

Gmail.js just gives you a place to deliver the payload. A payload provided by a better suited library. And that's it.

[2016-12-06 20:21] #349 closed

[2016-12-07 08:51] OriAmir opened #350 "using Gmail Api in content script"
Hey all  , I need to use some functionally of gmail api in my extension .
I create oauth2 in background file and I am trying to use the gapi.client in my content script without success...
I post[ my question is stackoverflow](http://stackoverflow.com/questions/41012489/using-gmail-api-in-chrome-extension-in-content-scripts)
Hope that someone could help me please..

thanks!

[2016-12-07 08:53] josteink commented on #350
You cannot use the Gmail.js API inside a content-script.

If you need to do separate processing in the browser context, content-script and background-scripts, you will need to rely on corss-context messaging.

Basically from content-script you need to post a message to your browser-context, where you invoke the gmail.js API, and that should again post the results pack to the content-script.

It's

[2016-12-07 08:53] #350 closed

[2016-12-08 01:18] #336 closed

[2016-12-08 10:45] OriAmir commented on #318
Tnx , but I need to save this id when I send the message ..And when I am in new compose window this message still not get ID ( not draft message ) so I don't have what to save

[2016-12-08 11:59] josteink commented on #318
What I've done (and which works for now) is to await the "Email is sent" toast. This toast contains a link which contains the ID of the newly sent email message. You can then connect that to your compose-ID somehow.

You cannot persist "extended MAPI properties" like you can with Microsoft Exchange... So if you need some other form of permanent marker, you'll have to figure that out and implement

[2016-12-08 13:09] ConnGator opened #351 "How do I call this from background.js?"
I used the boilerplate code to implement this and I know it is loading correctly as it calls gmail.get.user_email() fine. However, I want to do something when the icon is clicked. I added a background.js that has chrome.browserAction.onClicked.addListener and it gets called but I cannot access the gmail object.

Do I have to enable something for this? Am somewhat new to extensions so I feel like I

[2016-12-08 13:17] josteink commented on #351
You'll have to use cross-context window messaging to do this, because the only place where the `Gmail` object is available is in the browser-context where GMail is loaded.

Use can use `window.postMessage()` and related event-listeners to implement this.

[2016-12-08 13:18] josteink commented on #351
Short answer: You can't.

You'll have to use cross-context window messaging to do this, because the only place where the `Gmail` object is available is in the browser-context where GMail is loaded. You cannot use gmail.js in any other context.

To get around this use `window.postMessage()` and related event-listeners to get messages and commands into browser-context where you can use the Gmail API

[2016-12-08 13:18] #351 closed

[2016-12-08 13:43] josteink opened #352 "API for attachments"
I'm working on adding functionality for accessing attachments. So far I'm pushing my changes to the [attachments](https://github.com/KartikTalwar/gmail.js/tree/attachments) branch.

Is this something you'd like to review, or should I just push to master when it's good enough for my needs?

Any opinion?

cc: @KartikTalwar

[2016-12-08 19:50] KartikTalwar commented on #352
Feel free to push to master if its a feature that helps others as well :-)

[2016-12-09 10:11] josteink commented on #352
Thanks. Consider it done :)

[2016-12-09 10:11] #352 closed

[2016-12-09 14:38] josteink commented on #281
Fixed in https://github.com/KartikTalwar/gmail.js/commit/a83436f499f9c01b04280af945a5a81137b6baf1.

Closing.

[2016-12-09 14:38] #281 closed

[2016-12-12 06:45] josteink commented on #347
Any news on this?

If no feedback is received soon, this issue will be closed assuming everything works as it should (especially since it works for me in all my use-cases :).

[2016-12-12 06:52] josteink opened #353 "Using api.get.email_source() fails in MS Edge"
No really. If you want to write WebExtensions which supports all modern browers, MS Edge is a target too.  :)

Basically something fails because of XHR with bad HTTP methods, and while it may not be fatal, the way we handle it causes it to fail:

* `api.get.email_source()` requests something from https://mail.google.com.
* This results in a 302 redirect.
* The new URL gets probed by jQuery using a

[2016-12-12 07:41] josteink commented on #353
This might actually be an issue in Edge itself:

https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/9869121/

[2016-12-12 13:57] ConnGator opened #354 "Need to get current message ID in conversation view"
I am trying to get the message ID of the currently expanded message of a thread in conversation view but gmail.get.email_id() is returning the message ID of the first message in the thread.  Is there a different way of getting the current message?

Thanks for a wonderful library.

[2016-12-12 14:43] josteink commented on #354
Bind on the view email event.  the parameters passed into that function is the current email.

[2016-12-12 14:47] michi88 commented on #353
We did have some CORS issues briefly discussed here: https://github.com/KartikTalwar/gmail.js/pull/333

This is related to the previous redirect being cached by the browser. This request needs to hit google as they will not add CORS headers to the download location otherwise. They open some kind of session or something.

After I've added jQuery's `{cache: false}` which adds something like this to

[2016-12-12 15:13] ConnGator commented on #354
Many thanks, worked like a charm.

[2016-12-12 15:13] #354 closed

[2016-12-13 15:19] markjerz opened #355 "Update inbox event"
Hi,

I'm adding an extra td in to the gmail inbox rows so as to add an extra button. Now Gmail seems to update those rows every now and then which loses my extra td. I'm currently observing the following events to re-add my td but am missing something else:

new_email
refresh
poll

Any ideas?

[2016-12-13 18:06] gidsi commented on #347
We're still on it (it didn't work out with require). Right now we're too busy with other stuff, we will be back on this in approx. two weeks.
But it's maybe a problem with webpack, in doubt just close it :)

[2016-12-14 16:14] kwbock opened #356 "Is it possible to trigger a draft save that would save the draft to gmail"
I'm wondering if it is possible to manually trigger gmail to save the draft. there are some plugins that modify the body of the email, in a compose view, but however they do it does not trigger the draft to save.

[2016-12-15 08:54] josteink commented on #356
I took a brief look at this, and the answer "yes, but I'd rather not".

Basically it's easy for us to intercept calls made by Gmail itself to save a draft, but this happens somewhere quite inaccessible in the obfuscated Gmail Javascript codebase.

That means we have the following semi-realistic options:

* Try to find the exact function causing the saving of a draft and invoking that. (How do we k